<div class="datatable-pager">
  <ul class="pager">
    <li [class.disabled]="!canPrevious()">
      <a role="button" aria-label="go to first page" (click)="selectPage(1)">
        <i [ngClass]="pagerPreviousIcon"></i>
      </a>
    </li>
    <li [class.disabled]="!canPrevious()">
      <a role="button" aria-label="go to previous page" (click)="prevPage()">
        <i [ngClass]="pagerLeftArrowIcon"></i>
      </a>
    </li>
    <li *ngFor="let pg of pages" role="button" class="pages" [attr.aria-label]="'page ' + pg.number" [class.active]="pg.number === page">
      <a (click)="selectPage(pg.number)">
        {{ pg.text }}
      </a>
    </li>
    <li [class.disabled]="!canNext()">
      <a role="button" aria-label="go to next page" (click)="nextPage()">
        <i [ngClass]="pagerRightArrowIcon"></i>
      </a>
    </li>
    <li [class.disabled]="!canNext()">
      <a role="button" aria-label="go to last page" (click)="selectPage(totalPages)">
        <i [ngClass]="pagerNextIcon"></i>
      </a>
    </li>
  </ul>
</div>