@import "../../../variables";

//page loading animation
.progress-linear {
  position: absolute;
  top:0;
  left:0;
  width: 100%;
  height: $progress-linear-loader-height;
  z-index: $zindex-loading-screen;

  .container {
    background: $progress-linear-loader-bg;
    transform: translate(0, 0) scale(1, 1);
    height: $progress-linear-loader-height;
    width: 100%;
    max-width: 100%;
    overflow: hidden;
    .bar {
      animation: custom-query 1s infinite cubic-bezier(0.39, 0.575, 0.565, 1);
      transition: transform .2s linear;
      background: $progress-linear-loader-bar-bg;
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      width: 100%;
      height: $progress-linear-loader-height;
    }
  }
}
@keyframes custom-query {
  0% {
    opacity: 1;
    transform: translateX(-50%) scale(0.3, 1);
  }
  100% {
    opacity: 0;
    transform: translateX(50%) scale(0, 1);
  }
}
