@import "../../../../../variables";

.category-form {
  .category-name {
    background-color: $layer3;
    padding: $padding-base;
    margin: -#{$padding-base} -#{$padding-base} $padding-base;
  }

  .form-row {
    position: relative;

    .form-control[readonly] {
      opacity: 1;
      background-color: $white;
    }

    [class^="col-"] {
      margin-bottom: 1rem;
    }
  }
}

.toggle {
  .toggle-description {
    font-size: 14px;
    line-height: 1.5rem;
  }
}
