<div class="list-page">
  <div class="list-page-header">
    <mk-datatable-header
                  [title]="'Заказы'"
                  [total]="total"
                  [shown]="shown"
                  (onAddItem)="addOrder()"
                  (onFilter)="filter($event)">
    </mk-datatable-header>
  </div>
  <div class="list-page-body">
    <ngx-datatable #datatable
                  class="material striped fullscreen"
                  [loadingIndicator]="loadingIndicator"
                  [headerHeight]="40"
                  [rowHeight]="40"
                  [rows]="orderRows"
                  [columnMode]="'force'"
                  [limit]="10"
                  [sorts]="sorts"
                  [messages]="{ emptyMessage: 'Нет данных для отображения' }"
                  [rowClass]="getRowClass"
                  (activate)="onActive($event)"
                  (sort)="onTableSort(orderRows, $event)">

      <ngx-datatable-column name="orderDate" [sortable]="true">
        <ng-template ngx-datatable-header-template let-column="column" let-sort="sortFn">
          <span (click)="sort($event)">Дата<br>заказа</span>
        </ng-template>
        <ng-template ngx-datatable-cell-template let-value="value">
          <span [title]="value">{{ value }}</span>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="number">
        <ng-template ngx-datatable-header-template let-column="column">
          <span>Номер</span>
        </ng-template>
        <ng-template ngx-datatable-cell-template let-value="value">
          <span [title]="value">{{ value }}</span>
        </ng-template>
      </ngx-datatable-column>
      
      <ngx-datatable-column name="customerName">
        <ng-template ngx-datatable-header-template let-column="column">
          <span>Имя<br>покупателя</span>
        </ng-template>
        <ng-template ngx-datatable-cell-template let-value="value">
          <span [title]="value">{{ value }}</span>
        </ng-template>
      </ngx-datatable-column>
      
      <ngx-datatable-column name="address">
        <ng-template ngx-datatable-header-template let-column="column">
          <span>Адрес<br>доставки</span>
        </ng-template>
        <ng-template ngx-datatable-cell-template let-value="value">
          <span [title]="value">{{ value }}</span>
        </ng-template>
      </ngx-datatable-column>
      
      <ngx-datatable-column [width]="80" [canAutoResize]="false" [resizeable]="false">
        <ng-template ngx-datatable-cell-template let-expanded="expanded" let-row="row" let-rowIndex="rowIndex">
          <span class="buttons">
            <a class="grid-edit edit" [routerLink]="[row.id]"></a>
            <a class="grid-remove" (click)="delete(row)"></a>
          </span>
        </ng-template>
      </ngx-datatable-column>
    
    </ngx-datatable>
  </div>
</div>

<ng-template #confirmRemoveTmpl>
  <mk-confirmation
          [confirmButtonText]="'Удалить'"
          [text]="'Вы уверены, что хотите удалить выбранный заказ <br>от <b>' + orderToDelete.orderDate + '</b>?'"
          (onClose)="closeModal()"
          (onConfirm)="confirmDelete();">
  </mk-confirmation>
</ng-template>