<mk-progress-linear [isLoading]="!exhibitionForm || isLoading"></mk-progress-linear>

<form *ngIf="exhibitionForm" class="w-100" [formGroup]="exhibitionForm" autocomplete="off" (ngSubmit)="saveExhibition()">
  <div class="app-page-body row flex-nowrap">

    <!-- left side -->
    <div class="app-page-content">
      <div class="app-page-header">
        <div class="app-page-description">
          <mk-back-arrow></mk-back-arrow>
          <h1 class="app-page-title">{{ title }}</h1>
        </div>
      </div>
      <div class="content-body">
        <div class="row">
          <div class="col-md-12">

            <div class="row">
              <div class="col-sm-12">
                <div class="row">
                  <div class="col-md-12">
                    <div class="fields-group-title">Детали выставки</div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-3">
                    <div class="field-group">
                      <label for="address">Дата начала</label>
                      <mk-datetimepicker-wrapper formControlName="fromDate"
                              [required]="true"
                              [ngClass]="{'not-valid': exhibitionForm.controls.fromDate.invalid && isFormSubmitted}">
                      </mk-datetimepicker-wrapper>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="field-group">
                      <label for="address">Дата завершения</label>
                      <mk-datetimepicker-wrapper formControlName="toDate"
                              [required]="true"
                              [ngClass]="{'not-valid': exhibitionForm.controls.toDate.invalid && isFormSubmitted}">
                      </mk-datetimepicker-wrapper>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="field-group">
                      <label for="address">Название</label>
                      <input type="text"
                             class="form-control"
                             formControlName="name"
                             [ngClass]="{'not-valid': exhibitionForm.controls.name.invalid && isFormSubmitted}" />
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="field-group">
                      <label for="address">Город проведения</label>
                      <input type="text"
                             class="form-control"
                             formControlName="city"
                             [ngClass]="{'not-valid': exhibitionForm.controls.city.invalid && isFormSubmitted}" />
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <div class="fields-group-title">Список товаров</div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="form-row products-titles">
                  <div class="col-sm-4">Наименование товара</div>
                  <div class="col-sm-2">Артикул/Размер</div>
                  <div class="col-sm-2">Себестоимость</div>
                  <div class="col-sm-2">Цена</div>
                  <div class="col-sm-2">Количество</div>
                </div>
                <div formArrayName="products">
                  <div class="form-row product-row" *ngFor="let productControl of exhibitionForm.get('products').controls; let index=index" [formGroupName]="index">
                    <div class="col-sm-4">
                      <div class="field-group">
                        <mk-select-products formControlName="product"
                                            [products]="productsList"
                                            [canClearAll]="false"
                                            [ngClass]="{'not-valid': productControl.controls.product.invalid && isFormSubmitted}"
                                            (onProductSelected)="onProductSelected($event, index)">
                        </mk-select-products>
                      </div>
                    </div>
                    <div class="col-sm-2">
                      <div class="field-group">
                        <input type="text" class="form-control" disabled
                              [value]="getProductSizeAndVendorCode(productControl.value.product)">
                      </div>
                    </div>
                    <div class="col-sm-2">
                      <div class="field-group">
                        <input type="text" class="form-control" formControlName="costPrice">
                      </div>
                    </div>
                    <div class="col-sm-2">
                      <div class="field-group">
                        <mk-currency-input formControlName="unitPrice"
                                            [placeholder]="'Цена'"
                                            [required]="true"
                                            [id]="'unitPrice-' + index"
                                            [ngClass]="{'not-valid': productControl.controls.unitPrice.invalid && isFormSubmitted}">
                        </mk-currency-input>
                      </div>
                    </div>
                    <div class="col-sm-2">
                      <div class="field-group">
                        <input type="number"
                                class="form-control"
                                formControlName="quantity"
                                placeholder="Количество"
                                [ngClass]="{'not-valid': productControl.controls.unitPrice.invalid && isFormSubmitted}"
                                (input)="onQuantityChanged(index, $event.target.value)" />
                        <span class="validation-tip" *ngIf="productControl.hasError('max', ['quantity']) && isFormSubmitted">
                          В наличие {{ productControl.value.product.quantity }}
                        </span>
                      </div>  
                      <button class="btn-remove" title="Удалить" type="button" (click)="removeProduct(index)" *ngIf="exhibitionForm.get('products').controls.length > 1">
                        <i class="ico ico-close"></i>
                      </button>
                    </div>
                  </div>
                </div>
                <button class="btn-add" type="button" (click)="addProduct()">
                  <i class="fa fa-plus fa-border"></i>
                </button>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>

    <!-- right side -->
    <div class="app-page-aside">
      <div class="aside-body">
        <div class="aside-body-inner">
          <div class="row">
            <div class="col-md-12 cost">
              <span class="cost-title">Участие:</span>
              <span class="cost-value">
                <mk-currency-input formControlName="participationCost"
                                   [required]="true"
                                   [placeholder]="'сумма'"
                                   [ngClass]="{'not-valid': exhibitionForm.controls.participationCost.invalid && isFormSubmitted}">
                </mk-currency-input>
              </span>
              <span class="cost-payment-type">
                <mk-payment-methods-dropdown
                              formControlName="participationCostMethod"
                              [ngClass]="{'not-valid': exhibitionForm.controls.participationCostMethod.invalid && isFormSubmitted}">
                </mk-payment-methods-dropdown>
              </span>
            </div>

            <div class="col-md-12 cost">
              <span class="cost-title">Проезд:</span>
              <span class="cost-value">
                <mk-currency-input formControlName="fareCost" [placeholder]="'сумма'"></mk-currency-input>
              </span>
              <span class="cost-payment-type">
                <mk-payment-methods-dropdown
                              formControlName="fareCostMethod"
                              [ngClass]="{'not-valid': exhibitionForm.controls.fareCostMethod.invalid && isFormSubmitted}">
                </mk-payment-methods-dropdown>
              </span>
            </div>

            <div class="col-md-12 cost">
              <span class="cost-title">Проживание:</span>
              <span class="cost-value">
                <mk-currency-input formControlName="accommodationCost" [placeholder]="'сумма'"></mk-currency-input>
              </span>
              <span class="cost-payment-type">
                <mk-payment-methods-dropdown
                              formControlName="accommodationCostMethod"
                              [ngClass]="{'not-valid': exhibitionForm.controls.accommodationCostMethod.invalid && isFormSubmitted}">
                </mk-payment-methods-dropdown>
              </span>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12 profit">
              <span class="profit-title">Прибыль:</span>
              <span>{{ profit | mkCurrency }}</span>
            </div>
          </div>
          <div class="row notes-row">
            <div class="col-md-12">
              <div class="field-group">
                <label>Примечание</label>
                <textarea class="notes" rows="5" formControlName="notes"></textarea>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

  <div class="footer">
    <div class="footer-buttons">
      <button class="btn btn-primary" type="submit" [disabled]="isLoading">
        {{ isEdit ? 'Обновить выставку' : 'Создать выставку' }}
        <div *ngIf="isLoading" class="btn--spinner"></div>
      </button>
      <button type="button" class="btn btn-outline" [routerLink]="['/exhibitions']" [disabled]="isLoading">Отмена</button>
    </div>
  </div>
</form>