/.vs/Mushka.Accounting/v15/*.suo
/.vs/Mushka.Accounting/v15/Server/sqlite3/*.lock
/.vs/Mushka.Accounting/v15/Server/sqlite3/*.ide
/.vs/Mushka.Accounting/v15/Server/sqlite3/*.ide-shm
/.vs/Mushka.Accounting/v15/Server/sqlite3/*.ide-wal
/Mushka.Accounting.Core/obj
/Mushka.Accounting.Core/bin
/Mushka.Accounting.Domain/obj
/Mushka.Accounting.Domain/bin
/Mushka.Accounting.Infrastructure.DataAccess/obj
/Mushka.Accounting.Infrastructure.DataAccess/bin
/Mushka.Accounting.Service/obj
/Mushka.Accounting.Service/bin
/Mushka.Accounting.WebApi/obj
/Mushka.Accounting.WebApi/bin
/.vs/config
Mushka.Accounting.Infrastructure.DataAccess/Mushka.Accounting.Infrastructure.DataAccess.csproj.user
Mushka.Domain/bin/Debug/netcoreapp2.0/Mushka.Domain.pdb
Mushka.Domain/bin/Debug/netcoreapp2.0/Mushka.Domain.dll
Mushka.Domain/bin/Debug/netcoreapp2.0/Mushka.Domain.deps.json
Mushka.Domain/obj/Debug/netcoreapp2.0/Mushka.Domain.AssemblyInfoInputs.cache
Mushka.Domain/obj/Debug/netcoreapp2.0/Mushka.Domain.AssemblyInfo.cs
Mushka.Domain/obj/project.assets.json
Mushka.Domain/obj/Mushka.Domain.csproj.nuget.g.targets
Mushka.Domain/obj/Mushka.Domain.csproj.nuget.g.props
Mushka.Domain/obj/Mushka.Domain.csproj.nuget.cache
Mushka.Domain/obj/Debug/netcoreapp2.0/Mushka.Domain.pdb
Mushka.Domain/obj/Debug/netcoreapp2.0/Mushka.Domain.dll
Mushka.Domain/obj/Debug/netcoreapp2.0/Mushka.Domain.csprojResolveAssemblyReference.cache
Mushka.Domain/obj/Debug/netcoreapp2.0/Mushka.Domain.csproj.FileListAbsolute.txt
Mushka.Domain/obj/Debug/netcoreapp2.0/Mushka.Domain.csproj.CoreCompileInputs.cache
Mushka.Infrastructure.DataAccess/bin/Debug/netcoreapp2.0/Mushka.Infrastructure.DataAccess.runtimeconfig.json
Mushka.Infrastructure.DataAccess/bin/Debug/netcoreapp2.0/Mushka.Infrastructure.DataAccess.runtimeconfig.dev.json
Mushka.Infrastructure.DataAccess/bin/Debug/netcoreapp2.0/Mushka.Infrastructure.DataAccess.pdb
Mushka.Infrastructure.DataAccess/bin/Debug/netcoreapp2.0/Mushka.Infrastructure.DataAccess.dll
Mushka.Infrastructure.DataAccess/bin/Debug/netcoreapp2.0/Mushka.Infrastructure.DataAccess.deps.json
Mushka.Infrastructure.DataAccess/bin/Debug/netcoreapp2.0/Mushka.Domain.pdb
Mushka.Infrastructure.DataAccess/bin/Debug/netcoreapp2.0/Mushka.Domain.dll
Mushka.Infrastructure.DataAccess/Mushka.Infrastructure.DataAccess.csproj.user
Mushka.Infrastructure.DataAccess/obj/Mushka.Infrastructure.DataAccess.csproj.nuget.cache
Mushka.Infrastructure.DataAccess/obj/Debug/netcoreapp2.0/Mushka.Infrastructure.DataAccess.pdb
Mushka.Infrastructure.DataAccess/obj/Debug/netcoreapp2.0/Mushka.Infrastructure.DataAccess.dll
Mushka.Infrastructure.DataAccess/obj/Debug/netcoreapp2.0/Mushka.Infrastructure.DataAccess.csprojResolveAssemblyReference.cache
Mushka.Infrastructure.DataAccess/obj/Debug/netcoreapp2.0/Mushka.Infrastructure.DataAccess.csproj.FileListAbsolute.txt
Mushka.Infrastructure.DataAccess/obj/Debug/netcoreapp2.0/Mushka.Infrastructure.DataAccess.csproj.CoreCompileInputs.cache
Mushka.Infrastructure.DataAccess/obj/project.assets.json
Mushka.Infrastructure.DataAccess/obj/Mushka.Infrastructure.DataAccess.csproj.nuget.g.targets
Mushka.Infrastructure.DataAccess/obj/Mushka.Infrastructure.DataAccess.csproj.nuget.g.props
Mushka.Infrastructure.DataAccess/obj/Debug/netcoreapp2.0/Mushka.Infrastructure.DataAccess.csproj.CopyComplete
Mushka.Infrastructure.DataAccess/obj/Debug/netcoreapp2.0/Mushka.Infrastructure.DataAccess.AssemblyInfoInputs.cache
Mushka.Infrastructure.DataAccess/obj/Debug/netcoreapp2.0/Mushka.Infrastructure.DataAccess.AssemblyInfo.cs
Mushka.Service/bin/Debug/netcoreapp2.0/Mushka.Core.dll
Mushka.Service/bin/Debug/netcoreapp2.0/Mushka.Service.pdb
Mushka.Service/bin/Debug/netcoreapp2.0/Mushka.Service.dll
Mushka.Service/bin/Debug/netcoreapp2.0/Mushka.Service.deps.json
Mushka.Service/bin/Debug/netcoreapp2.0/Mushka.Domain.pdb
Mushka.Service/bin/Debug/netcoreapp2.0/Mushka.Domain.dll
Mushka.Service/bin/Debug/netcoreapp2.0/Mushka.Core.pdb
Mushka.Service/obj/project.assets.json
Mushka.Service/obj/Mushka.Service.csproj.nuget.g.targets
Mushka.Service/obj/Mushka.Service.csproj.nuget.g.props
Mushka.Service/obj/Mushka.Service.csproj.nuget.cache
Mushka.Service/obj/Debug/netcoreapp2.0/Mushka.Service.pdb
Mushka.Service/obj/Debug/netcoreapp2.0/Mushka.Service.dll
Mushka.Service/obj/Debug/netcoreapp2.0/Mushka.Service.csprojResolveAssemblyReference.cache
Mushka.Service/obj/Debug/netcoreapp2.0/Mushka.Service.csproj.FileListAbsolute.txt
Mushka.Service/obj/Debug/netcoreapp2.0/Mushka.Service.csproj.CoreCompileInputs.cache
Mushka.Service/obj/Debug/netcoreapp2.0/Mushka.Service.csproj.CopyComplete
Mushka.Service/obj/Debug/netcoreapp2.0/Mushka.Service.AssemblyInfoInputs.cache
Mushka.Service/obj/Debug/netcoreapp2.0/Mushka.Service.AssemblyInfo.cs
Mushka.WebApi/bin/Debug/netcoreapp2.0/mushka-accounting-2018-11-06.log
Mushka.WebApi/bin/Debug/netcoreapp2.0/mushka-accounting-2018-11-05.log
Mushka.WebApi/bin/Debug/netcoreapp2.0/Mushka.WebApi.runtimeconfig.json
Mushka.WebApi/bin/Debug/netcoreapp2.0/Mushka.WebApi.runtimeconfig.dev.json
Mushka.WebApi/bin/Debug/netcoreapp2.0/Mushka.WebApi.pdb
Mushka.WebApi/bin/Debug/netcoreapp2.0/Mushka.WebApi.dll
Mushka.WebApi/bin/Debug/netcoreapp2.0/Mushka.WebApi.deps.json
Mushka.WebApi/bin/Debug/netcoreapp2.0/Mushka.Service.pdb
Mushka.WebApi/bin/Debug/netcoreapp2.0/Mushka.Service.dll
Mushka.WebApi/bin/Debug/netcoreapp2.0/Mushka.Infrastructure.DataAccess.pdb
Mushka.WebApi/bin/Debug/netcoreapp2.0/Mushka.Infrastructure.DataAccess.dll
Mushka.WebApi/bin/Debug/netcoreapp2.0/Mushka.Domain.pdb
Mushka.WebApi/bin/Debug/netcoreapp2.0/Mushka.Domain.dll
Mushka.WebApi/bin/Debug/netcoreapp2.0/Mushka.Core.pdb
Mushka.WebApi/bin/Debug/netcoreapp2.0/Mushka.Core.dll
Mushka.WebApi/obj/Mushka.WebApi.csproj.nuget.cache
Mushka.WebApi/obj/Debug/netcoreapp2.0/Mushka.WebApi.pdb
Mushka.WebApi/obj/Debug/netcoreapp2.0/Mushka.WebApi.dll
Mushka.WebApi/obj/Debug/netcoreapp2.0/Mushka.WebApi.csprojResolveAssemblyReference.cache
Mushka.WebApi/obj/Debug/netcoreapp2.0/Mushka.WebApi.csproj.FileListAbsolute.txt
Mushka.WebApi/obj/Debug/netcoreapp2.0/Mushka.WebApi.csproj.CoreCompileInputs.cache
Mushka.WebApi/obj/Debug/netcoreapp2.0/Mushka.WebApi.csproj.CopyComplete
Mushka.WebApi/obj/Debug/netcoreapp2.0/Mushka.WebApi.AssemblyInfoInputs.cache
Mushka.WebApi/obj/Debug/netcoreapp2.0/Mushka.WebApi.AssemblyInfo.cs
Mushka.WebApi/obj/project.assets.json
Mushka.WebApi/obj/Mushka.WebApi.csproj.nuget.g.targets
Mushka.WebApi/obj/Mushka.WebApi.csproj.nuget.g.props
Mushka.Core/obj/project.assets.json
Mushka.Core/obj/Debug/netcoreapp2.0/Mushka.Core.pdb
Mushka.Core/obj/Debug/netcoreapp2.0/Mushka.Core.dll
Mushka.Core/obj/Debug/netcoreapp2.0/Mushka.Core.csprojResolveAssemblyReference.cache
Mushka.Core/obj/Debug/netcoreapp2.0/Mushka.Core.csproj.FileListAbsolute.txt
Mushka.Core/obj/Debug/netcoreapp2.0/Mushka.Core.csproj.CoreCompileInputs.cache
Mushka.Core/obj/Debug/netcoreapp2.0/Mushka.Core.AssemblyInfoInputs.cache
Mushka.Core/obj/Debug/netcoreapp2.0/Mushka.Core.AssemblyInfo.cs
Mushka.Core/obj/Mushka.Core.csproj.nuget.g.targets
Mushka.Core/obj/Mushka.Core.csproj.nuget.g.props
Mushka.Core/obj/Mushka.Core.csproj.nuget.cache
Mushka.Core/bin/Debug/netcoreapp2.0/Mushka.Core.pdb
Mushka.Core/bin/Debug/netcoreapp2.0/Mushka.Core.dll
Mushka.Core/bin/Debug/netcoreapp2.0/Mushka.Core.deps.json
.vs/Mushka/v15/Server/sqlite3/storage.ide-wal
.vs/Mushka/v15/Server/sqlite3/storage.ide-shm
.vs/Mushka/v15/Server/sqlite3/storage.ide
.vs/Mushka/v15/Server/sqlite3/db.lock
.vs/Mushka/v15/.suo
Mushka.sln.bak
