/.vs/Mushka.Accounting/v15/*
Mushka.Domain/bin/*
Mushka.Domain/obj/*
/Mushka.Core/obj
/Mushka.Core/bin
/Mushka.Domain/obj
/Mushka.Domain/bin
/Mushka.Infrastructure.DataAccess/obj
/Mushka.Infrastructure.DataAccess/bin
/Mushka.Service/obj
/Mushka.Service/bin
/Mushka.WebApi/obj
/Mushka.WebApi/bin
Mushka.Tests/obj
Mushka.Tests/bin
*.suo
*.user
.vs/
*.bak
