@import '../../../variables';

.data-container {
  margin-right: 0;
  margin-left: 0;
  padding: 10px 30px;
}

.notes {
  width: 100%;
}

input[type="number"] {
  -moz-appearance: textfield;
  text-align: right;
}
input[type="number"]::-webkit-inner-spin-button, 
input[type="number"]::-webkit-outer-spin-button { 
  -webkit-appearance: none;
  margin: 0;
  text-align: right;
}

input[type="number"]::-webkit-input-placeholder { text-align:left  !important; }
/* mozilla solution */
input[type="number"]:-moz-placeholder { text-align:left !important; }

.btn-remove {
  position: absolute;
  right: -17px;
  top: 12px;
  color: $text-muted;
  .ico-close {
    font-size: 1rem;
  }
}

.product-row {
  padding-right: 25px;
}

.buttons {
  padding: 35px 15px;

  .btn-primary {
    margin-right: 10px;
  }
}
