@import '../../../variables';

.placeholder {
  color: #8A8A8A;
}

.dropdown-toggle {
  background-color: $white;
}

:host(.not-valid) {
  .dropdown button {
    box-shadow: inset 1px 0 0 0 $validation-color;
    &:focus {
      box-shadow: none;
    }
  }
}