<form [formGroup]="productForm" class="product-form" *ngIf="productForm">
  <div class="modal-header">
    <h4 class="modal-title">Добаление товара</h4>
    <button type="button" class="close" aria-label="Close" (click)="close()">
      <i class="ico ico-close"></i>
    </button>
  </div>
  <div class="modal-body">
    <div class="product-name">
      <div class="form-group">
        <label for="name" class="text-muted">Наименование</label>
        <input type="text" id="name" class="form-control" formControlName="name" autocomplete="off">
      </div>
    </div>

    <div class="row">
      <div class="col">
        <div class="form-group">
          <label for="nacodeme" class="text-muted">Категория</label>
          <select class="form-control custom-select" formControlName="categoryId"
                    (change)="onCategoryChanged(productForm.value.category)">
            <option *ngFor="let category of categories" [value]="category.id">{{ category.name }}</option>
          </select>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-5">
        <div class="field-group">
          <label for="nacodeme" class="text-muted">Артикул</label>
          <input type="text" id="code" class="form-control code" formControlName="code" autocomplete="off">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="field-group w-50">
          <mk-toggle formControlName="isSizesRequired" [label]="'Требуются размеры'"></mk-toggle>
        </div>
      </div>
    </div>
    <div class="row" *ngIf="productForm.controls.isSizesRequired.value">
      <div class="col">
        <div class="field-group">
          <mk-select-size class="form-control" formControlName="sizes" [availableSizes]="availableSizes"></mk-select-size>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-light btn-cancel" type="button" (click)="close()">Отмена</button>
    <button class="btn btn-primary" type="button" (click)="save()" [disabled]="productForm.invalid">
      <mk-spinner [isLoading]="isSaving"></mk-spinner>
      Сохранить</button>
  </div>
</form>
