@import "../../../../variables";

.quantity {
  display: inline-block;
  width: 35px;
  text-align: center;
  vertical-align: top;
  padding: 3px 0px;
  font-weight: bold;
  font-size: 1.2rem;
  text-transform: uppercase;
  color: #fff;
  border-radius: $border-radius-base;
  margin: 0 .3rem .5rem 0;
  background-color: $products-size-count-bg;
  :host-context(.data-table) & {
    margin-bottom: 0;
  }
  &-almost-empty {
    background-color: $products-size-count-ends-bg;
  }
  &-empty {
    background-color: $products-size-count-sold-bg;
  }
}