@import '../../../variables';

.btn-remove {
  position: absolute;
  right: -17px;
  top: 12px;
  color: $text-muted;
  .ico-close {
    font-size: 1rem;
  }
}

.products-titles {
  padding-top: 10px;
}

.cost {
  //padding-bottom: 15px;

  &-title {
    font-weight: bold;
    display: inline-block;
    width: 100px;
  }

  &-value {
    display: inline-block;
    width: 70px;
    margin-right: 10px;
  }
  
  &-payment-type {
    display: inline-block;
    width: 145px;
  }
}

.validation-tip {
  position: absolute;
  bottom: -10px;
}
