<div class="list-page">
  <div class="list-page-header">
    <mk-datatable-header
                  [title]="'Поставки'"
                  [total]="total"
                  [shown]="shown"
                  (onAddItem)="addSupply()"
                  (onFilter)="filter($event)">
    </mk-datatable-header>
  </div>
  <div class="list-page-body">
    <ngx-datatable #datatable
                  class="material striped fullscreen"
                  [loadingIndicator]="loadingIndicator"
                  [headerHeight]="40"
                  [rowHeight]="40"
                  [footerHeight]="50"
                  [rows]="supplyRows"
                  [columnMode]="'force'"
                  [messages]="{ emptyMessage: 'Нет данных для отображения' }"
                  [sorts]="sorts"
                  (activate)="onActive($event)"
                  (sort)="onTableSort(supplyRows, $event)">

      <ngx-datatable-column name="description" [sortable]="true">
        <ng-template ngx-datatable-header-template let-column="column" let-sort="sortFn">
          <span (click)="sort($event)">Описание</span>
        </ng-template>
        <ng-template ngx-datatable-cell-template let-value="value">
          <span [title]="value">{{ value }}</span>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="supplierName" [sortable]="true">
        <ng-template ngx-datatable-header-template let-column="column" let-sort="sortFn">
          <span (click)="sort($event)">Имя<br>поставщика</span>
        </ng-template>
        <ng-template ngx-datatable-cell-template let-value="value">
          <span [title]="value" class="bold">{{ value }}</span>
        </ng-template>
      </ngx-datatable-column>
      
      <ngx-datatable-column name="requestDate" [sortable]="true">
        <ng-template ngx-datatable-header-template let-column="column" let-sort="sortFn">
          <span (click)="sort($event)">Дата<br>заявки</span>
        </ng-template>
        <ng-template ngx-datatable-cell-template let-value="value">
          <span [title]="value">{{ value }}</span>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="receivedDate">
        <ng-template ngx-datatable-header-template let-column="column">
          <span>Дата<br>получения</span>
        </ng-template>
        <ng-template ngx-datatable-cell-template let-value="value">
          <span [title]="value">{{ value }}</span>
        </ng-template>
      </ngx-datatable-column>
      
      <ngx-datatable-column name="productsAmount">
        <ng-template ngx-datatable-header-template let-column="column">
          <span>Количество<br>товаров</span>
        </ng-template>
        <ng-template ngx-datatable-cell-template let-value="value">
          <span [title]="value">{{ value | mkNumber }}</span>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="cost">
        <ng-template ngx-datatable-header-template let-column="column">
          <span>Стоимость<br>товара</span>
        </ng-template>
        <ng-template ngx-datatable-cell-template let-value="value">
          <span [title]="value">{{ value | mkCurrency }}</span>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="deliveryCost">
        <ng-template ngx-datatable-header-template let-column="column">
          <span>Стоимость<br>доставки</span>
        </ng-template>
        <ng-template ngx-datatable-cell-template let-value="value">
          <span [title]="value">{{ value | mkCurrency }}</span>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="bankFee">
        <ng-template ngx-datatable-header-template let-column="column">
          <span>Комиссия<br>банка</span>
        </ng-template>
        <ng-template ngx-datatable-cell-template let-value="value">
          <span [title]="value">{{ value | mkCurrency }}</span>
        </ng-template>
      </ngx-datatable-column>
      
      <ngx-datatable-column name="totalCost">
        <ng-template ngx-datatable-header-template let-column="column">
          <span>Общая<br>стоимость</span>
        </ng-template>
        <ng-template ngx-datatable-cell-template let-value="value">
          <span [title]="value">{{ value | mkCurrency }}</span>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column [width]="80" [canAutoResize]="false" [resizeable]="false">
        <ng-template ngx-datatable-cell-template let-expanded="expanded" let-row="row" let-rowIndex="rowIndex">
          <span class="buttons">
            <a class="grid-edit edit" [routerLink]="[row.id]"></a>
            <a class="grid-remove" (click)="delete(row)"></a>
          </span>
        </ng-template>
      </ngx-datatable-column>
    
      <ngx-datatable-footer class="p-0">
        <ng-template ngx-datatable-footer-template let-rowCount="rowCount" let-pageSize="pageSize" let-curPage="curPage" class="p-0">
          <mk-datatable-footer [loadingIndicator]="loadingIndicator"
                                [datatable]="datatable"
                                [total]="total"
                                [curPage]="curPage"
                                [rowCount]="rowCount"
                                [pageSize]="pageSize"
                                [itemsName]="'Поставок'">
          </mk-datatable-footer>
        </ng-template>
      </ngx-datatable-footer>
    </ngx-datatable>
  </div>
</div>

<ng-template #confirmRemoveTmpl>
  <mk-confirmation
          [confirmButtonText]="'Удалить'"
          [text]="'Вы уверены, что хотите удалить выбранную поставку от поставщика <b>' + supplyToDelete.supplierName + '</b>?'"
          (onClose)="closeModal()"
          (onConfirm)="confirmDelete();">
  </mk-confirmation>
</ng-template>