@import '../../../../variables';

:host(.not-valid) {
  .dropdown button {
    //border-color: $orange;
    box-shadow: inset 1px 0 0 0 $orange;
    &:focus {
      box-shadow: none;
    }
  }
}

.placeholder {
  color: #8A8A8A;
}

.dropdown-item * {
  white-space: normal;
}

.supplier-name {
  font-size: 14px;
}
