<form [formGroup]="categoryForm" class="category-form">
  <div class="modal-header">
    <h4 class="modal-title">{{ title }}</h4>
    <button type="button" class="close" aria-label="Close" (click)="close()">
      <i class="ico ico-close"></i>
    </button>
  </div>
  <div class="modal-body">
    <div class="category-name">
      <div class="field-group">
        <label for="name" class="text-muted">Наименование:</label>
        <input type="text" class="form-control name" id="name" formControlName="name" autocomplete="off">
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="field-group w-50">
          <mk-toggle formControlName="isAdditional" [label]="'Вспомогательные товары'"></mk-toggle>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="field-group w-50">
          <mk-toggle formControlName="isSizeRequired" [label]="'Требуются размеры'"></mk-toggle>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-light btn-cancel" type="button" (click)="close()">Отмена</button>
    <button class="btn btn-primary" type="button" (click)="save()" [disabled]="categoryForm.invalid">
      <mk-spinner [isLoading]="isSaving"></mk-spinner> 
      Сохранить</button>
  </div>
</form>
