<div class="order-date-filter" ngbDropdown container="body" placement="bottom-right">
  <button class="btn" ngbDropdownToggle>
    <span [ngClass]="{'placeholder': !selectedRangeName, 'selected-value': selectedRangeName}">
      {{ selectedRangeName ? selectedRangeName : 'Дата заказа' }}
    </span>
    <i class="ico-chevron-down"></i>
  </button>

  <div ngbDropdownMenu aria-labelledby="dropdown" class="dropdown-max-height">
    <button type="button" ngbDropdownItem class="dropdown-item" *ngFor="let timeframe of timeframes" (click)="onTimeFrameSelect(timeframe.id)">
      {{ timeframe.name | translate }}
    </button>
    <div class="dropdown-divider"></div>
    <button type="button" ngbDropdownItem class="dropdown-item btn-clear" (click)="clear()">
      <i class="ico ico-close"></i>
      <span>Clear</span>
    </button>
    <!-- <div class="btn-clear">
      <i class="ico ico-close"></i>
      <span>Clear</span>
    </div> -->
  </div>
</div>