@import '../../../../variables';

.dropdown-menu {
  padding: 0.1rem 0;
  overflow-y: hidden;
  min-width: 180px;
}

.order-date-filter {
  .btn.dropdown-toggle {
    font-size: 14px;
    padding-right: 0.75rem;

    &:hover {
      background: var(--palette-black-alpha-6,rgba(0, 0, 0, .06));
    }

    &:focus {
      outline: 2px auto -webkit-focus-ring-color;
    }

    .placeholder {
      color: $black;
      opacity: .55;
    }

    .selected-value {
      font-weight: 600;
      color: $black;
    }
  }
}

.btn-clear {
  text-align: right;
  padding: 8px;
  display: inline-block;
  cursor: pointer;

  span {
    padding: 5px;
  }
}
