
<div class="container">
  <form *ngIf="supplierForm" [formGroup]="supplierForm" (ngSubmit)="saveSupplier()">

    <div class="row">
      <div class="col-md-6 col-sm-6 col-xs-12">
        <h1 class="float-left">Редактирование поставщика</h1>
      </div>
      <div class="col-md-6 col-sm-6 col-xs-12">
        <p class="float-right reponsive-pull required-fields-caption">* - Поля, обязательные для заполнения</p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-8 col-sm-12">
        <div class="row">
          <div class="col-md-6 col-sm-6">
            <div class="row">
              <div class="col-md-12">
                <div class="fields-group-title">Основная информация</div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="field-group">
                  <label for="name">Наименование *</label>
                  <input type="text" id="name" class="form-control" formControlName="name" autocomplete="off">
                </div>
              </div>
            </div>
            
            <div class="row">
              <div class="col-md-12">
                <div class="field-group">
                  <label for="paymentConditions">Список услуг *</label>
                  <textarea class="form-control text-area-vertical" rows="3" formControlName="service"></textarea>
                </div>
              </div>
            </div>

          </div>

          <div class="col-md-6 col-sm-6">
            <div class="row">
              <div class="col-md-12">
                <div class="fields-group-title">Контактная информация</div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="field-group">
                  <label for="address">Адрес</label>
                  <input type="text" class="form-control" formControlName="address">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="field-group">
                  <label>Эл. Почта *</label>
                  <input type="text" class="form-control" formControlName="email" />
                </div>
              </div>
              <div class="col-md-6">
                <div class="field-group">
                  <label>Сайт</label>
                  <input type="text" class="form-control" formControlName="webSite" />
                </div>
              </div>
            </div>
          </div>
          
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-12">
                <div class="fields-group-title">Контактные лица</div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div>
                  <div class="form-row contact-person-row text-muted">
                    <div class="col-sm-4">Имя</div>
                    <div class="col-sm-4">Телефон(ы)</div>
                    <div class="col-sm-4">Почта</div>
                  </div>
                  <div formArrayName="contactPersons">
                    <div class="form-row contact-person-row" *ngFor="let contactPersonControl of supplierForm.get('contactPersons').controls; let index=index" [formGroupName]="index">
                      <div class="col-sm-4">
                        <div class="field-group">
                          <input type="text" class="form-control" formControlName="name" />
                        </div>
                      </div>
                      <div class="col-sm-4">
                        <div class="field-group">
                          <input type="text" class="form-control" formControlName="phones" />
                        </div>
                      </div>
                      <div class="col-sm-4">
                        <div class="field-group email-input">
                          <input type="text" class="form-control" formControlName="email" />
                        </div>
                        <button class="btn-remove" title="Remove" type="button" (click)="removeContactPerson(index)" *ngIf="supplierForm.get('contactPersons').controls.length > 1">
                          <i class="ico ico-close"></i>
                        </button>
                      </div>
                    </div>
                  </div>
                  <button class="btn-add" type="button" (click)="addContactPerson()">
                    <i class="fa fa-plus fa-border"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


  <!-- <form *ngIf="supplierForm" [formGroup]="supplierForm" (ngSubmit)="saveSupplier()">
    <div class="row">
      <div class="col-md-6 col-sm-6">
        <div class="form-group">
          <label for="name">Наименование:</label>
          <input type="text" id="name" class="form-control" formControlName="name" autocomplete="off">
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6 col-sm-6">
        <div class="form-group">
          <label for="address">Адрес:</label>
          <input type="text" id="address" class="form-control" formControlName="address">
        </div>
      </div>
    </div>

    
    <div class="row">
      <div class="col-md-3">
        <div class="form-group">
          <label>Эл. почта:</label>
          <input type="text" class="form-control" formControlName="email" />
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group">
          <label>Сайт:</label>
          <input type="text" class="form-control" formControlName="webSite" />
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6 col-sm-6">
        <div class="form-group">
          <label for="paymentConditions">Список услуг:</label>
          <textarea class="form-control text-area-vertical" rows="3" formControlName="service"></textarea>
        </div>
      </div>
    </div>

    <div>
      <div class="contact-persons-title">Контакты</div>
      <div class="form-row contact-person-row text-muted">
        <div class="col-sm-4">Имя</div>
        <div class="col-sm-4">Телефон(ы)</div>
        <div class="col-sm-4">Почта</div>
      </div>
      <div formArrayName="contactPersons">
        <div class="form-row contact-person-row" *ngFor="let contactPersonControl of supplierForm.get('contactPersons').controls; let index=index" [formGroupName]="index">
          <div class="col-sm-4">
            <div class="form-group">
              <input type="text" class="form-control" formControlName="name" />
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group">
              <input type="text" class="form-control" formControlName="phones" />
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group email-input">
              <input type="text" class="form-control" formControlName="email" />
            </div>
            <button class="btn-remove" title="Remove" type="button" (click)="removeContactPerson(index)" *ngIf="supplierForm.get('contactPersons').controls.length > 1">
              <i class="ico ico-close"></i>
            </button>
          </div>
        </div>
      </div>
      <button class="btn-add" type="button" (click)="addContactPerson()">
        <i class="fa fa-plus fa-border"></i>
      </button>
    </div> -->
    <div class="row buttons">
      <div class="form-group">
        <button class="btn btn-primary" type="submit" [disabled]="isLoading">
          {{ isEdit ? 'Обновить постащика' : 'Сохранить постащика' }}
          <div *ngIf="isLoading" class="btn--spinner"></div>
        </button>
        <button type="button" class="btn btn-outline" [routerLink]="['/suppliers']" [disabled]="isLoading">Отмена</button>
      </div>
    </div>
  </form>
</div>