@import '../../../variables';

.container {
  margin-right: 0;
  margin-left: 0;
  padding-top: 30px;
}

.supplier-form {
  .supplier-name {
    background-color: $layer3;
    padding: $padding-base;
    margin: -#{$padding-base} -#{$padding-base} $padding-base;
  }

  .form-row {
    position: relative;
    
    .form-control[readonly] {
      opacity: 1;
      background-color: $white;
    }

    [class^="col-"] {
      margin-bottom: 1rem;
    }
  }
}

.email-input {
  display: inline-block;
}

.btn-remove {
  position: relative;
  left: 7px;
  top: 2px;
  color: $text-muted;
  .ico-close {
    font-size: 1rem;
  }
}

.contact-persons-title {
  padding-top: 20px;
  padding-bottom: 10px;
}

.contact-person-row {
  padding-right: 25px;
}

.buttons {
  padding: 35px 15px;

  .btn-primary {
    margin-right: 10px;
  }
}
