$error-color: #dc3545;

.title {
  display: block;
  text-transform: uppercase;
}

.product-name {
  font-size: 14px;
}

.multiple {
  padding-left: 20px;
}

.btn-close {
  float: right;
  margin: 5px;
}

.vendor-code {
  font-weight: normal;
}

.error-icon {
  position: absolute;
  right: 30px;
  bottom: 17px;
  color: $error-color;
}

.validation-message {
  font-size: 12px;
}
