<form [formGroup]="supplierForm" class="supplier-form" autocomplete="off">
  <div class="modal-header">
    <h4 class="modal-title">Добаление поставщика</h4>
    <button type="button" class="close" aria-label="Close" (click)="close()">
      <i class="ico ico-close"></i>
    </button>
  </div>
  <div class="modal-body">
    <div class="supplier-name">
      <div class="form-group">
        <label for="name">Наименование:</label>
        <input type="text" id="name" class="form-control" formControlName="name" autocomplete="off">
      </div>
      <!-- <div class="form-row">
        <div class="col">
          <div class="form-group">
            <label>Контактное лицо:</label>
            <input type="text" class="form-control" formControlName="contactPerson" />
          </div>
        </div>
        <div class="col">
          <div class="form-group">
            <label>Телефон:</label>
            <input type="text" class="form-control" placeholder="Phone" formControlName="phone" />
          </div>
        </div>
      </div> -->
    </div>
    <div class="form-group">
      <label for="address">Адрес:</label>
      <input type="text" id="address" class="form-control" formControlName="address">
    </div>
    <div class="form-row">
      <div class="col">
        <div class="form-group">
          <label>Эл. почта:</label>
          <input type="text" class="form-control" formControlName="email" />
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <label>Сайт:</label>
          <input type="text" class="form-control" formControlName="webSite" />
        </div>
      </div>
    </div>
    <div class="form-group hidden">
      <label for="paymentConditions">Условие оплаты:</label>
      <textarea class="form-control text-area-vertical" rows="3" formControlName="paymentConditions"></textarea>
    </div>
    <div class="form-group">
      <label for="paymentConditions">Список услуг:</label>
      <textarea class="form-control text-area-vertical" rows="3" formControlName="services"></textarea>
    </div>
    
    <div class="contact-persons-title">Контакты</div>

    <div class="form-row contact-person-row text-muted">
      <div class="col-sm-4">Имя</div>
      <div class="col-sm-4">Телефон(ы)</div>
      <div class="col-sm-4">Почта</div>
    </div>
    <div formArrayName="contactPersons">
      <div class="form-row contact-person-row" *ngFor="let contactPersonControl of contactPersonsControls; let index=index" [formGroupName]="index">
        <div class="col-sm-4">
          <div class="form-group">
            <input type="text" class="form-control" formControlName="name" />
          </div>
        </div>
        <div class="col-sm-4">
          <div class="form-group">
            <input type="text" class="form-control" formControlName="phones" />
          </div>
        </div>
        <div class="col-sm-4">
          <div class="form-group">
            <input type="text" class="form-control" formControlName="email" />
          </div>
        </div>
        <button class="btn-remove" title="Remove" type="button" (click)="removeContactPerson(index)" *ngIf="supplierForm.get('contactPersons').controls.length > 1">
          <i class="ico ico-close"></i>
        </button>
      </div>
    </div>
    <button class="btn-add" type="button" (click)="addContactPerson()">
      <i class="fa fa-plus fa-border"></i>
    </button>

  </div>
  <div class="modal-footer">
    <button class="btn btn-light btn-cancel" type="button" (click)="close()">Отмена</button>
    <button class="btn btn-primary" type="button" (click)="save()">
      <mk-spinner [isLoading]="isSaving"></mk-spinner>
      Сохранить
    </button>
  </div>
</form>