<mshk-progress-linear [isLoading]="loadingIndicator"></mshk-progress-linear>

<form *ngIf="orderForm" #ngForm="ngForm" class="w-100" [formGroup]="orderForm" autocomplete="off" (ngSubmit)="saveOrder()">
  <div class="app-page-body row flex-nowrap">
    <!-- left side -->
    <div class="app-page-content">
      <div class="app-page-header">
          <div class="app-page-description">
            <mshk-back-arrow></mshk-back-arrow>
            <h1 class="app-page-title">{{ title | translate }}</h1>
          </div>
        </div>
        <div class="content-body">
          <div class="row">
            <div class="col-md-12">
              <div class="row">
                <div class="col-sm-6">
                  <div class="row">
                    <div class="col-md-12">
                      <div class="fields-group-title">{{ 'orders.orderDetails' | translate }}</div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <div class="field-group">
                        <label for="address">{{ 'common.date' | translate }}</label>
                        <mshk-datetimepicker-wrapper formControlName="orderDate" [required]="true"></mshk-datetimepicker-wrapper>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="field-group">
                        <label for="address">{{ 'orders.orderNumber' | translate }}</label>
                        <mshk-delayed-input formControlName="number"
                                          [type]="'text'"
                                          [required]="true"
                                          [ngClass]="{'not-valid': orderForm.controls.number.invalid && ngForm.submitted}"
                                          (onInput)="onNumberChanged($event)">
                        </mshk-delayed-input>
                        <mshk-spinner class="spinner-border-thin validate-order-number" [isLoading]="isNumberValidating"></mshk-spinner>
                        <!-- <span class="validation-tip" *ngIf="orderForm.hasError('required', ['number']) && ngForm.submitted">Обязательно</span> -->
                        <!-- <span class="validation-tip" *ngIf="!isOrderNumberValid">Номер уже существует</span> -->
                        <span class="validation-tip" *ngIf="!orderForm.hasError('required', ['number']) && orderForm.hasError('notUnique', ['number'])">{{ 'orders.orderNumberAlreadyExist' | translate }}</span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="row">
                    <div class="col-md-12">
                      <div class="fields-group-title">{{ 'orders.deliveryAddress' | translate }}</div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <div class="field-group">
                        <label for="address">{{ 'orders.region' | translate }}</label>
                        <mshk-dropdown formControlName="region"
                                     [options]="regions"
                                     [ngClass]="{'not-valid': orderForm.controls.region.invalid && ngForm.submitted}">
                        </mshk-dropdown>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="field-group">
                        <label for="address">{{ 'orders.city' | translate }}</label>
                        <input type="text" class="form-control" formControlName="city"
                               [ngClass]="{'not-valid': orderForm.controls.city.invalid && ngForm.submitted}">
                      </div>
                    </div>
                  </div>
                </div>
                
              </div>
              <div class="row">
                <div class="col-sm-12">
                  <div class="row">
                    <div class="col-sm-12">
                      <div class="fields-group-title">{{ 'orders.buyerData' | translate }}</div>
                    </div>
                  </div>
                  <div class="row" formGroupName="customer">
                    <div class="col-sm-3">
                      <div class="field-group">
                        <label>{{ 'customer.firstName' | translate }}</label>
                        <input type="text" class="form-control" 
                                           formControlName="firstName"
                                           [ngbTypeahead]="searchName"
                                           [focusFirst]="false"
                                           [resultTemplate]="customerTemplate"
                                           [ngClass]="{'not-valid': orderForm.get('customer').get('firstName').invalid && ngForm.submitted}"
                                           (selectItem)="onSelectCustomer($event)">
                      </div>
                    </div>
                    <div class="col-sm-3">
                      <div class="field-group">
                        <label>{{ 'customer.lastName' | translate }}</label>
                        <input type="text" class="form-control"
                                           formControlName="lastName"
                                           [ngbTypeahead]="searchName"
                                           [focusFirst]="false"
                                           [resultTemplate]="customerTemplate"
                                           [ngClass]="{'not-valid': orderForm.get('customer').get('lastName').invalid && ngForm.submitted}"
                                           (selectItem)="onSelectCustomer($event)">
                      </div>
                    </div>
                    <div class="col-sm-3">
                      <div class="field-group">
                        <label>{{ 'customer.phone' | translate }}</label>
                        <input type="text" class="form-control" formControlName="phone"
                               [ngClass]="{'not-valid': orderForm.get('customer').get('phone').invalid && ngForm.submitted}">
                      </div>
                    </div>
                    <div class="col-sm-3">
                      <div class="field-group">
                        <label>{{ 'customer.email' | translate }}</label>
                        <input type="text" class="form-control" formControlName="email">
                      </div>
                    </div>
                  </div>
                  
                </div>
              </div>

              <div class="row">
              </div>

              <div class="row">
                <div class="col-md-12">
                  <div class="fields-group-title">{{ 'common.productList' | translate }}</div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="form-row products-titles" [ngClass]="{'p-right-25': formProducts.length > 1}">
                    <div class="col-sm-4">{{ 'orders.productName' | translate }}</div>
                    <div class="col-sm-2">{{ 'products.vendorCode' | translate }}/{{ 'products.size' | translate }}</div>
                    <div class="col-sm-2">{{ 'products.costPrice' | translate }}</div>
                    <div class="col-sm-2">{{ 'products.price' | translate }}</div>
                    <div class="col-sm-2">{{ 'products.quantity' | translate }}</div>
                  </div>
                  <div formArrayName="products">
                    <div class="form-row product-row" [formGroupName]="index"
                                    *ngFor="let productControl of formProducts.controls; let index=index"
                                    [ngClass]="{'p-right-25': formProducts.length > 1}">
                      <div class="col-sm-4">
                        <div class="field-group">
                          <mshk-select-products formControlName="product"
                                              [products]="productsList"
                                              [canClearAll]="false"
                                              [ngClass]="{'not-valid': productControl.controls.product.invalid && ngForm.submitted}"
                                              (onProductSelected)="onProductSelected($event, index)">
                          </mshk-select-products>
                        </div>
                      </div>
                      <div class="col-sm-2">
                        <div class="field-group">
                          <input type="text" class="form-control" disabled
                                [value]="getProductSizeAndVendorCode(productControl.value.product)">
                        </div>
                      </div>
                      <div class="col-sm-2">
                        <div class="field-group">
                          <input type="text" class="form-control" formControlName="costPrice">
                        </div>
                      </div>
                      <div class="col-sm-2">
                        <div class="field-group">
                          <mshk-currency-input formControlName="unitPrice"
                                              [placeholder]="'products.price' | translate"
                                              [required]="true"
                                              [id]="'unitPrice-' + index"
                                              [ngClass]="{'not-valid': productControl.controls.unitPrice.invalid && ngForm.submitted}">
                          </mshk-currency-input>
                        </div>
                      </div>
                      <div class="col-sm-2">
                        <div class="field-group">
                          <mshk-delayed-input 
                                          formControlName="quantity"
                                          [placeholder]="'products.quantity' | translate"
                                          [required]="true"
                                          [ngClass]="{'not-valid': productControl.controls.unitPrice.invalid && ngForm.submitted}"
                                          (onInput)="onQuantityChanged(index, $event)">
                          </mshk-delayed-input>
                          <span class="validation-tip" *ngIf="productControl.hasError('max', ['quantity'])">
                            {{ 'products.inStock' | translate: {separator: ' '} }} {{ productControl.value.product.quantity }}
                          </span>
                        </div>  
                        <button type="button" class="btn-remove"
                                *ngIf="formProducts.length > 1"
                                [title]="'button.remove' | translate" 
                                (click)="removeProduct(index)">
                          <i class="fa fa-times"></i>
                        </button>
                      </div>
                    </div>
                  </div>
                  <button class="btn-add" type="button" [title]="'button.addProduct' | translate" (click)="addProduct()">
                    <i class="fa fa-plus fa-border"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>

    <!-- right side -->
    <div class="app-page-aside">
      <div class="aside-body">
        <div class="aside-body-inner">
          <div class="row">
            <div class="col-md-12 cost">
              <span class="cost-title">{{ 'orders.cost' | translate }}:</span>
              <span class="cost-value">
                <mshk-currency-input formControlName="cost"></mshk-currency-input>
              </span>
              <span class="cost-payment-type">
                <mshk-select-payment-methods
                              formControlName="costMethod"
                              [required]="true"
                              [ngClass]="{'not-valid': orderForm.controls.costMethod.invalid && ngForm.submitted}">
                </mshk-select-payment-methods>
              </span>
            </div>
            <div class="col-md-12 cost">
              <span class="cost-title">{{ 'orders.discount' | translate }}:</span>
              <span class="cost-value">
                <mshk-delayed-input [value]="discount"
                                  (onInput)="onDiscountChanged($event)">
                </mshk-delayed-input>
              </span>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 profit">
              <span class="profit-title">{{ 'orders.profit' | translate }}:</span>
              <span>{{ profit | mshkCurrency }}</span>
            </div>
          </div>
          <div class="row notes-row">
            <div class="col-md-12">
              <div class="field-group">
                <label>{{ 'common.notes' | translate }}</label>
                <textarea class="notes" rows="5" formControlName="notes"></textarea>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="field-group">
                <mshk-checkbox formControlName="isWholesale" [text]="'orders.wholesaleOrder' | translate"></mshk-checkbox>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="footer">
    <div class="footer-buttons">
      <button type="button" class="btn btn-light" [routerLink]="['/orders']" [disabled]="isLoading">{{ 'button.cancel' | translate }}</button>
      <button type="submit" class="btn btn-primary with-spinner" [disabled]="isLoading">
        <div *ngIf="isLoading" class="btn-spinner"></div>
        {{ 'button.save' | translate }}
      </button>
    </div>
  </div>
</form>

<ng-template #customerTemplate let-r="result" let-t="term">
  <ngb-highlight [result]="r.nameWithPhone" [term]="t"></ngb-highlight>
</ng-template>

