<mshk-datatable-bar
        [title]="'orders.corporateOrders'"
        [addLink]="'/corporate-orders/new'"
        [addButtonTitle]="'button.addCorporateOrder'"
        [total]="total"
        [shown]="shown"
        (onSearch)="onSearch($event)">

  <mshk-select-timeframes class="timeframes"
        (onRangeSelected)="onRangeSelected($event)"
        (onClear)="onClearRange()">
  </mshk-select-timeframes>

</mshk-datatable-bar>

<ngx-datatable #datatable
                class="material striped"
                [loadingIndicator]="loadingIndicator"
                [headerHeight]="40"
                [rowHeight]="40"
                [footerHeight]="50"
                [rows]="shownOrders"
                [columnMode]="'force'"
                [sorts]="sorts"
                [messages]="{ emptyMessage: 'datatable.emptyMessage' | translate }"
                (activate)="onActive($event)">

  <ngx-datatable-column name="createdOn" [sortable]="true">
    <ng-template ngx-datatable-header-template let-column="column" let-sort="sortFn">
      <span [innerHtml]="'datatable.orderDate' | translate" (click)="sort($event)"></span>
    </ng-template>
    <ng-template ngx-datatable-cell-template let-value="value">
      <span [title]="value">{{ value | format }}</span>
    </ng-template>
  </ngx-datatable-column>
  
  <ngx-datatable-column name="orderNumber" [sortable]="false">
    <ng-template ngx-datatable-header-template let-column="column">
      <span [innerHtml]="'datatable.orderNumber' | translate"></span>
    </ng-template>
    <ng-template ngx-datatable-cell-template let-value="value">
      <span [title]="value">{{ value }}</span>
    </ng-template>
  </ngx-datatable-column>
  
  <ngx-datatable-column name="companyName" [sortable]="true">
    <ng-template ngx-datatable-header-template let-column="column" let-sort="sortFn">
      <span [innerHtml]="'orders.companyName' | translate: {value: '<br>'}" (click)="sort($event)"></span>
    </ng-template>
    <ng-template ngx-datatable-cell-template let-value="value">
      <span [title]="value">{{ value }}</span>
    </ng-template>
  </ngx-datatable-column>
  
  <ngx-datatable-column name="address">
    <ng-template ngx-datatable-header-template let-column="column">
      <span [innerHtml]="'datatable.deliveryAddress' | translate"></span>
    </ng-template>
    <ng-template ngx-datatable-cell-template let-value="value">
      <span [title]="value">{{ value }}</span>
    </ng-template>
  </ngx-datatable-column>
  
  <ngx-datatable-column [width]="80" [canAutoResize]="false" [resizeable]="false">
    <ng-template ngx-datatable-cell-template let-expanded="expanded" let-row="row" let-rowIndex="rowIndex">
      <span class="grid-buttons">
        <a [routerLink]="[row.id]"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
        <a [routerLink]="" (click)="delete(row)"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
      </span>
    </ng-template>
  </ngx-datatable-column>
  
  <ngx-datatable-footer class="p-0">
    <ng-template ngx-datatable-footer-template let-rowCount="rowCount" let-pageSize="pageSize" let-curPage="curPage" class="p-0">
      <mshk-datatable-footer [loadingIndicator]="loadingIndicator"
                             [datatable]="datatable"
                             [total]="total"
                             [currentPage]="curPage"
                             [rowCount]="rowCount"
                             [pageSize]="pageSize">
      </mshk-datatable-footer>
    </ng-template>
  </ngx-datatable-footer>
</ngx-datatable>

<ng-template #confirmRemoveTmpl>
  <mshk-confirmation
          [confirmButtonText]="'button.remove'"
          [plainText]="'orders.areYouSureToDeleteCorporateOrder' | translate: { orderNumber: orderToDelete.orderNumber, orderDate: orderToDelete.createdOn }"
          (onClose)="closeModal()"
          (onConfirm)="confirmDelete()">
  </mshk-confirmation>
</ng-template>
