@import '../../../../variables';

:host(.not-valid) {
  .input-currency input {
    //border-color: $orange;
    box-shadow: inset 1px 0 0 0 $orange;
    &:focus {
      box-shadow: none;
    }
  }
}

/* webkit solution */
::-webkit-input-placeholder { text-align:left; }
/* mozilla solution */
input:-moz-placeholder { text-align:left; }

.input-currency input:enabled {
  background-color: #fff;
}