<mshk-datetimepicker [date]="dateValue"
                   [dateFormat]="'YYYY-MM-DD'"
                   [pickerType]="'calendar'"
                   [isNow]="true"
                   (onDateChanged)="dateChanged($event)">
  <div class="input-wrapper datepicker-input">
    <input class="form-control requestDate"
                    [(ngModel)]="dateValue"
                    [required]="required"
                    [placeholder]="placeholder"/>
    <i class="fa fa-calendar-o"></i>
  </div>
</mshk-datetimepicker>