@import '../../../variables';

:host {
  display: flex;
  height: calc(100vh - #{$header-height});
  width: 100%;
}

.app-page-body {
  height: 100%;
  margin: 0;
}

.app-page-content {
  display: flex;
  flex: auto;
  flex-flow: column;
  height: 100%;
  min-width: 0;
  width: calc(100% - #{$app-page-aside-min-width});

  .content-body {
    flex: 1 1 auto;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 0 45px;
    transform: translateZ(0);
    margin-bottom: 55px;
  }
}

.app-page-aside {
  background-color: $layer2;
  border-left: $aside-border-width solid $aside-border-color;
  display: flex;
  flex-flow: column;
  height: 100%;
  min-width: 380px;
  position: relative;
  width: 380px;
  z-index: 2;

  @media (min-width: $desktop) {
    min-width: 410px;
    width: 410px;
  }

  .aside-body {
    flex: 1 1 auto;
    overflow-x: hidden;
    overflow-y: hidden;
    padding: 0;
    padding-top: 40px;
    transform: translateZ(0);
  }

  .aside-body-inner,
  .aside-footer {
    padding: 36px;
  }
}

.footer {
  position: absolute;
  right: 400px;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: $layer3;
  text-align: right;
  
  &-buttons {
    > :first-child {
      margin-right: 10px;
    }
    .btn {
      width: 170px;
    }
  }

  @media (min-width: $desktop) {
    right: 410px;
  }
}

.btn-remove {
  position: absolute;
  right: -17px;
  top: 12px;
  color: $text-muted;
  .ico-close {
    font-size: 1rem;
  }
}

.products-titles {
  padding-top: 10px;
  padding-right: 25px;
}

.product-row {
  padding-right: 25px;
}

.cost {
  padding-bottom: 15px;

  &-title {
    font-weight: bold;
    display: inline-block;
    width: 100px;
  }

  &-value {
    display: inline-block;
    width: 70px;
    margin-right: 10px;
  }
  
  &-payment-type {
    display: inline-block;
    width: 145px;
  }
}

.profit {
  padding-top: 5px;
  font-size: 18px;
  font-weight: bold;

  &:before {
    position: absolute;
    content: "";
    top: 0;
    left: 15px;
    right: 15px;
    height: 2px;
    background-color: #E2E4E6;
    bottom: 10px;
    z-index: -1;
  }

  &-title  {
    display: inline-block;
    width: 100px;
  }
}

.notes-row {
  padding-top: 30px;
}

.notes {
  width: 100%;
}

.validate-order-number {    
  position: absolute;
  right: 20px;
  //bottom: 13px;
  top: 40px;
  z-index: 1000;
}

.btn-add-set {
  padding-left: 10px;
}