<div class="appmain" [ngClass]="{'collapsed': isCollapsed}">
  <div class="appbar">
    <psa-datatable-header
                    [title]="title"
                    [total]="total"
                    [shown]="shown"
                    [availableColumns]="availableCols"
                    [showMenuToggle]="true"
                    [showAddButton]="isAddButtonShown"
                    (onCollapseMenu)="toggleCollapseMode()"
                    (onAddItem)="addProduct(content)">
    </psa-datatable-header>
  </div>
  <div class="appbody">
    <psa-categories-nav
                    [selectedCategory]="selectedCategory"
                    (onCategorySelected)="onCategotySelected($event)">
    </psa-categories-nav>
    <div class="appcontent">
      <ngx-datatable #datatable
               class="material fullscreen"
               [loadingIndicator]="loadingIndicator"
               [headerHeight]="40"
               [rowHeight]="40"
               [footerHeight]="50"
               [rows]="productsRows"
               [columnMode]="'force'"
               [reorderable]="true"
               [limit]="10">
               
        <ngx-datatable-column name="name">
          <ng-template ngx-datatable-header-template>
            <span>Название</span>
          </ng-template>
          <ng-template ngx-datatable-cell-template let-value="value">
            <span [title]="value" class="bold">{{ value }}</span>
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="code">
          <ng-template ngx-datatable-header-template>
            <span>Артикул</span>
          </ng-template>
          <ng-template ngx-datatable-cell-template let-value="value">
            <span [title]="value" class="bold">{{ value }}</span>
          </ng-template>
        </ngx-datatable-column>
        
        <ngx-datatable-column name="createdOn">
          <ng-template ngx-datatable-header-template>
            <span>Дата<br>добавления</span>
          </ng-template>
          <ng-template ngx-datatable-cell-template let-value="value">
            <span [title]="value" class="bold">{{ value }}</span>
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="sizes">
          <ng-template ngx-datatable-header-template>
            <span>Размеры и<br>наличие</span>
          </ng-template>
          <ng-template ngx-datatable-cell-template let-value="value">
            <psa-sizes-labels [sizes]="value"></psa-sizes-labels>
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="lastDeliveryDate">
          <ng-template ngx-datatable-header-template>
            <span>Дата последней<br>доставки</span>
          </ng-template>
          <ng-template ngx-datatable-cell-template let-value="value">
            <span>{{ value }}</span>
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="lastDeliveryCount">
          <ng-template ngx-datatable-header-template>
            <span>Количество в<br>последней доставке</span>
          </ng-template>
          <ng-template ngx-datatable-cell-template let-value="value">
            <span>{{ value }}</span>
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="deliveriesCount">
          <ng-template ngx-datatable-header-template>
            <span>Количество<br>доставок</span>
          </ng-template>
          <ng-template ngx-datatable-cell-template let-value="value">
            <span>{{ value }}</span>
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-footer class="p-0">
          <ng-template ngx-datatable-footer-template let-rowCount="rowCount" let-pageSize="pageSize" let-curPage="curPage" class="p-0">
            <psa-datatable-footer [loadingIndicator]="loadingIndicator"
                                  [datatable]="datatable"
                                  [total]="total"
                                  [curPage]="curPage"
                                  [rowCount]="rowCount"
                                  [pageSize]="pageSize"
                                  [itemsName]="'Товаров'">
            </psa-datatable-footer>
          </ng-template>
        </ngx-datatable-footer>
      </ngx-datatable>
    </div>
  </div>
</div>

<ng-template #content>
  <psa-product-modal
              [product]="selectedProduct"
              [categoryId]="selectedCategory.id"
              [isSaving]="isModalLoading"
              (onSave)="saveProduct($event)"
              (onClose)="closeModal()">
  </psa-product-modal>
</ng-template>
