<div class="appmain" [ngClass]="{'collapsed': isCollapsed}">
  <div class="appbar">
    <mk-datatable-header
                    [title]="title"
                    [total]="total"
                    [shown]="shown"
                    [availableColumns]="availableCols"
                    [showMenuToggle]="true"
                    [showAddButton]="isAddButtonShown"
                    (onCollapseMenu)="toggleCollapseMode()"
                    (onAddItem)="addProduct(content)"
                    (onFilter)="filter($event)">
    </mk-datatable-header>
  </div>
  <div class="appbody">
    <mk-categories-nav
                    [selectedCategory]="selectedCategory"
                    (onCategorySelected)="onCategotySelected($event)">
    </mk-categories-nav>
    <div class="appcontent">
      <ngx-datatable #datatable
               class="material fullscreen"
               [loadingIndicator]="loadingIndicator"
               [headerHeight]="40"
               [rowHeight]="40"
               [footerHeight]="50"
               [rows]="productsRows"
               [columnMode]="'force'"
               [limit]="10"
               [messages]="{ emptyMessage: 'Нет данных для отображения' }"
               [rowClass]="getRowClass"
               (activate)="onActive($event)"
               (sort)="onTableSort(productsRows, $event)">
               
        <ngx-datatable-column name="name">
          <ng-template ngx-datatable-header-template>
            <span>Название</span>
          </ng-template>
          <ng-template ngx-datatable-cell-template let-value="value">
            <span [title]="value" class="bold">{{ value }}</span>
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="code">
          <ng-template ngx-datatable-header-template>
            <span>Артикул</span>
          </ng-template>
          <ng-template ngx-datatable-cell-template let-value="value">
            <span [title]="value" class="bold">{{ value }}</span>
          </ng-template>
        </ngx-datatable-column>
        
        <ngx-datatable-column name="createdOn" [width]="80">
          <ng-template ngx-datatable-header-template>
            <span>Дата<br>добавления</span>
          </ng-template>
          <ng-template ngx-datatable-cell-template let-value="value">
            <span [title]="value" class="bold">{{ value }}</span>
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="sizes" [width]="130">
          <ng-template ngx-datatable-header-template>
            <span>Размеры и<br>наличие</span>
          </ng-template>
          <ng-template ngx-datatable-cell-template let-value="value">
            <mk-sizes-labels [sizes]="value"></mk-sizes-labels>
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="lastDeliveryDate" [width]="80">
          <ng-template ngx-datatable-header-template>
            <span>Дата посл.<br>доставки</span>
          </ng-template>
          <ng-template ngx-datatable-cell-template let-value="value">
            <span>{{ value }}</span>
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="lastDeliveryCount" [width]="80">
          <ng-template ngx-datatable-header-template>
            <span>Кол-во в<br>посл. доставке</span>
          </ng-template>
          <ng-template ngx-datatable-cell-template let-value="value">
            <span>{{ value }}</span>
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="deliveriesCount" [width]="50">
          <ng-template ngx-datatable-header-template>
            <span>Кол-во<br>доставок</span>
          </ng-template>
          <ng-template ngx-datatable-cell-template let-value="value">
            <span>{{ value }}</span>
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column [width]="120" [canAutoResize]="false" [resizeable]="false">
          <ng-template ngx-datatable-cell-template let-expanded="expanded" let-row="row" let-rowIndex="rowIndex">
            <span class="buttons">
              <a class="grid-edit edit" (click)="edit(content, row)"></a>
              <a class="grid-remove" (click)="delete(row)"></a>
            </span>
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-footer class="p-0">
          <ng-template ngx-datatable-footer-template let-rowCount="rowCount" let-pageSize="pageSize" let-curPage="curPage" class="p-0">
            <mk-datatable-footer [loadingIndicator]="loadingIndicator"
                                  [datatable]="datatable"
                                  [total]="total"
                                  [curPage]="curPage"
                                  [rowCount]="rowCount"
                                  [pageSize]="pageSize"
                                  [itemsName]="'Товаров'">
            </mk-datatable-footer>
          </ng-template>
        </ngx-datatable-footer>
      </ngx-datatable>
    </div>
  </div>
</div>

<ng-template #content>
  <mk-product-modal
              [product]="selectedProduct"
              [categoryId]="selectedCategory.id"
              (onSave)="onProductSaved($event)"
              (onClose)="closeModal()">
  </mk-product-modal>
</ng-template>

<ng-template #confirmRemoveTmpl>
  <mk-confirmation
          [confirmButtonText]="'Удалить'"
          [text]="confirmDeleteMessage"
          (onClose)="closeModal()"
          (onConfirm)="confirmDelete();">
  </mk-confirmation>
</ng-template>