<mk-progress-linear [isLoading]="!orderForm || isLoading"></mk-progress-linear>

<form *ngIf="orderForm" class="w-100" [formGroup]="orderForm" autocomplete="off" (ngSubmit)="saveOrder()">
  <div class="app-page-body row flex-nowrap">
    <!-- left side -->
    <div class="app-page-content">
      <div class="app-page-header">
          <div class="app-page-description">
            <mk-back-arrow></mk-back-arrow>
            <h1 class="app-page-title">{{ title }}</h1>
          </div>
        </div>
        <div class="content-body">
          <div class="row">
            <div class="col-md-12">
              <div class="row">
                <div class="col-sm-6">
                  <div class="row">
                    <div class="col-md-12">
                      <div class="fields-group-title">Данные заказа</div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <div class="field-group">
                        <label for="address">Дата</label>
                        <mk-datetimepicker-wrapper formControlName="createdOn" [required]="true"></mk-datetimepicker-wrapper>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="field-group">
                        <label for="address">Номер</label>
                        <mk-delayed-input formControlName="number"
                                          [type]="text"
                                          [required]="true"
                                          [placeholder]="'Введите значение'"
                                          [ngClass]="{'not-valid': orderForm.controls.number.invalid && isFormSubmitted}"
                                          (onInput)="onNumberChanged($event)">
                        </mk-delayed-input>
                        <mk-spinner class="validate-order-number" [isLoading]="isOrderNumberValidating"></mk-spinner>
                        <span class="validation-tip" *ngIf="!orderForm.hasError('required', ['number']) && orderForm.hasError('notUnique', ['number'])">Номер уже существует</span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="row">
                    <div class="col-md-12">
                      <div class="fields-group-title">Адрес доставки</div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <div class="field-group">
                        <label for="address">Область</label>
                        <mk-dropdown formControlName="region"
                                     [options]="regions"
                                     [ngClass]="{'not-valid': orderForm.controls.region.invalid && isFormSubmitted}">
                        </mk-dropdown>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="field-group">
                        <label for="address">Населённый пункт</label>
                        <input type="text" class="form-control"
                                           formControlName="city"
                                           placeholder="Введите значение"
                                           [ngClass]="{'not-valid': orderForm.controls.city.invalid && isFormSubmitted}">
                      </div>
                    </div>
                  </div>
                </div>
                
              </div>
              <div class="row">
                <div class="col-sm-12">
                  <div class="row">
                    <div class="col-sm-12">
                      <div class="fields-group-title">Данные заказчика</div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-3">
                      <div class="field-group">
                        <label>Имя компании</label>
                        <input type="text" class="form-control" formControlName="companyName"
                                           placeholder="Введите значение"
                                           [ngClass]="{'not-valid': orderForm.controls.companyName.invalid && isFormSubmitted}">
                      </div>
                    </div>
                    <div class="col-sm-3">
                      <div class="field-group">
                        <label>Контактное лицо</label>
                        <input type="text" class="form-control" formControlName="contactPerson"
                                           placeholder="Введите значение"
                                           [ngClass]="{'not-valid': orderForm.controls.contactPerson.invalid && isFormSubmitted}">
                      </div>
                    </div>
                    <div class="col-sm-3">
                      <div class="field-group">
                        <label>Телефон</label>
                        <input type="text" class="form-control" formControlName="phone"
                                           placeholder="Введите значение"
                                           [ngClass]="{'not-valid': orderForm.controls.phone.invalid && isFormSubmitted}">
                      </div>
                    </div>
                    <div class="col-sm-3">
                      <div class="field-group">
                        <label>Эл. почта</label>
                        <input type="text" class="form-control" formControlName="email">
                      </div>
                    </div>
                  </div>
                  
                </div>
              </div>

              <div class="row">
              </div>

              <div class="row">
                <div class="col-md-12">
                  <div class="fields-group-title">Список товаров</div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="form-row products-titles" [ngClass]="{'p-right-25': orderForm.get('products').controls.length > 1}">
                    <div class="col-sm-5">Наименование товара</div>
                    <div class="col-sm-7">
                      <div class="form-row">
                        <div class="col-sm-4">Себестоимость</div>
                        <div class="col-sm-4">Цена</div>
                        <div class="col-sm-4">Количество</div>
                      </div>
                    </div>
                  </div>
                  <div formArrayName="products">
                    <div class="form-row" [formGroupName]="index"
                                          *ngFor="let productControl of orderForm.get('products').controls; let index=index" 
                                          [ngClass]="{'p-right-25': orderForm.get('products').controls.length > 1}">
                      <div class="col-sm-5">
                        <div class="field-group">
                          <input type="text"
                                 class="form-control"
                                 formControlName="name"
                                 placeholder="Введите значение"
                                 [required]="true"
                                 [ngClass]="{'not-valid': productControl.controls.name.invalid && isFormSubmitted}">
                        </div>
                      </div>
                      <div class="col-sm-7">
                        <div class="form-row">
                          <div class="col-sm-4">
                            <div class="field-group">
                              <mk-currency-input formControlName="costPrice"
                                                 [required]="true"
                                                 [placeholder]="'Введите значение'"
                                                 [ngClass]="{'not-valid': productControl.controls.costPrice.invalid && isFormSubmitted}">
                              </mk-currency-input>
                            </div>
                          </div>
                          <div class="col-sm-4">
                            <div class="field-group">
                              <mk-currency-input formControlName="unitPrice"
                                                  [required]="true"
                                                  [placeholder]="'Введите значение'"
                                                  [id]="'unitPrice-' + index"
                                                  [ngClass]="{'not-valid': productControl.controls.unitPrice.invalid && isFormSubmitted}">
                              </mk-currency-input>
                            </div>
                          </div>
                          <div class="col-sm-4">
                            <div class="field-group">
                              <input type="number"
                                      class="form-control"
                                      formControlName="quantity"
                                      [ngClass]="{'not-valid': productControl.controls.quantity.invalid && isFormSubmitted}" />
                              <span class="validation-tip" *ngIf="productControl.hasError('max', ['quantity']) && isFormSubmitted">
                                В наличие {{ productControl.value.product.quantity }}
                              </span>
                            </div>  
                            <button class="btn-remove" title="Удалить" type="button" (click)="removeProduct(index)" *ngIf="orderForm.get('products').controls.length > 1">
                              <i class="ico ico-close"></i>
                            </button>
                          </div>
                        </div>
                      </div>

                    </div>
                  </div>
                  <button class="btn-add" type="button" (click)="addProduct()">
                    <i class="fa fa-plus fa-border"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>

    <!-- right side -->
    <div class="app-page-aside">
      <div class="aside-body">
        <div class="aside-body-inner">
          <div class="row">
            <div class="col-md-12 cost">
              <span class="cost-title">Оплата:</span>
              <span class="cost-value"><mk-currency-input formControlName="cost"></mk-currency-input></span>
              <span class="cost-payment-type">
                <mk-payment-methods-dropdown
                              formControlName="costMethod"
                              [ngClass]="{'not-valid': orderForm.controls.costMethod.invalid && isFormSubmitted}">
                </mk-payment-methods-dropdown>
              </span>
            </div>
            <div class="col-md-12 cost">
              <span class="cost-title">Предоплата:</span>
              <span class="cost-value">
                <mk-currency-input formControlName="prepayment" [placeholder]="'Сумма'"></mk-currency-input>
              </span>
              <span class="cost-payment-type">
                <mk-payment-methods-dropdown formControlName="prepaymentMethod"
                                  [ngClass]="{'not-valid': orderForm.controls.prepaymentMethod.invalid && isFormSubmitted}">
                </mk-payment-methods-dropdown>
              </span>
            </div>
            <div class="col-md-12 cost">
              <span class="cost-title">Доставка:</span>
              <span class="cost-value">
                <mk-currency-input formControlName="deliveryCost" [placeholder]="'Сумма'"></mk-currency-input>
              </span>
              <span class="cost-payment-type">
                <mk-payment-methods-dropdown formControlName="deliveryCostMethod"
                                  [ngClass]="{'not-valid': orderForm.controls.deliveryCostMethod.invalid && isFormSubmitted}">
                </mk-payment-methods-dropdown>
              </span>
            </div>
            <div class="col-md-12 cost">
              <span class="cost-title">Налог, %:</span>
              <span class="cost-value">
                <input type="number" class="form-control" formControlName="tax">
              </span>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 profit">
              <span class="profit-title">Прибыль:</span>
              <span>{{ profit | mkCurrency }}</span>
            </div>
          </div>
          <div class="row notes-row">
            <div class="col-md-12">
              <div class="field-group">
                <label>Примечание</label>
                <textarea class="notes" rows="5" formControlName="notes"></textarea>
              </div>
            </div>
          </div>
          
        </div>
      </div>
    </div>

  </div>

  <div class="footer">
    <div class="footer-buttons">
      <button class="btn btn-primary" type="submit" [disabled]="isLoading">
        {{ isEdit ? 'Обновить заказ' : 'Создать заказ' }}
        <div *ngIf="isLoading" class="btn--spinner"></div>
      </button>
      <button type="button" class="btn btn-outline" [routerLink]="['/corporate-orders']" [disabled]="isLoading">Отмена</button>
    </div>
  </div>
</form>