<ng-select
      bindValue="id"
      bindLabel="name"
      [items]="products"
      [closeOnSelect]="true"
      [placeholder]="placeholder"
      [ngModel]="selectedId"
      [clearable]="canClearAll"
      [loading]="isLoading"
      [searchFn]="customSearchFn"
      [notFoundText]="notFoundText"
      (change)="onChange($event)"
      (clear)="clear()">
  <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
    <div class="product-name">{{ item.name }}</div>
    <div class="text-muted">
      <div class="row">
        <div class="col-md-4">
          <span class="title">Категория</span>
          <span>{{ item.categoryName }}</span>
        </div>
        <div class="col-md-4">
          <span class="title">Артикул</span>
          <span>{{ item.vendorCode }}</span>
        </div>
        <div class="col-md-4">
          <span class="title">Размер</span>
          <span>{{ !!item.sizeName ? item.sizeName : '-' }}</span>
        </div>
      </div>
    </div>
  </ng-template>
</ng-select>