<header class="header">
  <h4 class="header-title">{{ i18n.title | translate }}</h4>
  
  <div class="separator"></div>

  <div class="actions">
    <button class="btn btn-icon" [routerLink]="['/orders/new']">
      <i class="fa fa-plus-circle" [title]="i18n.actions.addOrder | translate"></i>
    </button>
    <button class="btn btn-icon">
      <i class="fa fa-download" [title]="i18n.actions.exportToCsv | translate" aria-hidden="true"></i>
    </button>
  </div>
  
  <div class="separator"></div>

  <mshk-search-form class="search" [defaultValue]="searchKey" (onSearch)="onSearchChanged($event)"></mshk-search-form>
  
  <div class="separator"></div>

  <mshk-select-timeframes
    class="timeframes"
    [dateRange]="dateRange"
    (onRangeSelected)="onRangeChanged($event)">
  </mshk-select-timeframes>
  
  <div class="separator"></div>

  <span class="text-muted total-count">
    {{ totalItems$ | async }} {{ i18n.total | translate }}
  </span>

  <div class="filter">
    <button class="btn btn-icon" (click)="showHideFilterPanel()">
      <i class="fa fa-filter"></i>
    </button>
  </div>
</header>

<mshk-datatable-filter-bar *ngIf="isFilterPanel" (onClose)="showHideFilterPanel()"></mshk-datatable-filter-bar>
