<mshk-progress-linear [isLoading]="loadingIndicator"></mshk-progress-linear>

<form *ngIf="orderForm" #ngForm="ngForm" class="w-100" [formGroup]="orderForm" autocomplete="off" (ngSubmit)="saveOrder()">
  <div class="app-page-body row flex-nowrap">
    <!-- left side -->
    <div class="app-page-content">
      <div class="app-page-header">
        <div class="app-page-description">
          <mshk-back-arrow></mshk-back-arrow>
          <h1 class="app-page-title">
            {{ (isEdit ? i18n.title.editOrder : i18n.title.createOrder) | translate }}
          </h1>
        </div>
      </div>
      <div class="content-body">
        <div class="row">
          <div class="col-md-12">
            <div class="row">
              <div class="col-sm-6">
                <div class="row">
                  <div class="col-md-12">
                    <div class="fields-group-title">{{ i18n.orderDetails.title | translate }}</div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <div class="field-group">
                      <mshk-datepicker-input
                        [control]="orderForm.get('orderDate')"
                        [label]="i18n.orderDetails.orderDate.label"
                        [errors]="validationErrors">
                      </mshk-datepicker-input>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <mshk-text-input
                      [control]="orderForm.get('number')"
                      [label]="i18n.orderDetails.orderNumber.label"
                      [withDelay]="true"
                      [isLoading]="isNumberValidating$ | async"
                      [errors]="validationErrors"
                      (onChange)="onNumberChanged($event)">
                    </mshk-text-input>
                  </div>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="row">
                  <div class="col-md-12">
                    <div class="fields-group-title">{{ i18n.deliveryAddress.title | translate }}</div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <mshk-list-input
                      [label]="i18n.deliveryAddress.region.label"
                      [control]="orderForm.get('region')"
                      [options]="regionOptions"
                      [placeholder]="i18n.payment.costMethod.placeholder"
                      [errors]="validationErrors">
                    </mshk-list-input>
                  </div>
                  <div class="col-md-6">
                    <mshk-text-input
                      [control]="orderForm.get('city')"
                      [label]="i18n.deliveryAddress.city.label"
                      [errors]="validationErrors">
                    </mshk-text-input>
                  </div>
                </div>
              </div>
              
            </div>

            <div class="row">
              <div class="col-sm-12">
                <div class="row">
                  <div class="col-sm-12">
                    <div class="fields-group-title">{{ i18n.buyerDetails.title | translate }}</div>
                  </div>
                </div>
                <div class="row" formGroupName="customer">
                  <div class="col-sm-3">
                    <mshk-typeahead-input
                      [control]="orderForm.get('customer.firstName')"
                      [label]="i18n.buyerDetails.firstName.label"
                      [source$]="searchNameSource$"
                      [resultTmpl]="customerTmpl"
                      [errors]="validationErrors"
                      (onSelect)="onSelectCustomer($event)">
                    </mshk-typeahead-input>
                  </div>
                  <div class="col-sm-3">
                    <mshk-typeahead-input
                      [control]="orderForm.get('customer.lastName')"
                      [label]="i18n.buyerDetails.lastName.label"
                      [source$]="searchNameSource$"
                      [resultTmpl]="customerTmpl"
                      [errors]="validationErrors"
                      (onSelect)="onSelectCustomer($event)">
                    </mshk-typeahead-input>
                  </div>
                  <div class="col-sm-3">
                    <mshk-text-input
                      [control]="orderForm.get('customer.phone')"
                      [label]="i18n.buyerDetails.phone.label"
                      [errors]="validationErrors">
                    </mshk-text-input>
                  </div>
                  <div class="col-sm-3">
                    <mshk-text-input
                      [control]="orderForm.get('customer.email')"
                      [label]="i18n.buyerDetails.email.label"
                      [errors]="validationErrors">
                    </mshk-text-input>
                  </div>
                </div>
                
              </div>
            </div>

            <div class="row">
            </div>

            <div class="row">
              <div class="col-md-12">
                <div class="fields-group-title">{{ i18n.products.title | translate }}</div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <mshk-order-products
                  #orderProducts
                  [availableProducts]="availableProducts"
                  [products]="products"
                  (onChange)="onProductsChanged($event)">
                </mshk-order-products>
              </div>
            </div>

            <!-- <div class="row">
              <div class="col-md-12">
                <div class="form-row products-titles" [ngClass]="{'p-right-25': formProducts.length > 1}">
                  <div class="col-sm-4">{{ i18n.products.productName.label | translate }}</div>
                  <div class="col-sm-2">
                    {{ i18n.products.vendorCodeAndSize.label | translate }}
                  </div>
                  <div class="col-sm-2">{{ i18n.products.costPrice.label | translate }}</div>
                  <div class="col-sm-2">{{ i18n.products.price.label | translate }}</div>
                  <div class="col-sm-2">{{ i18n.products.quantity.label | translate }}</div>
                </div>
                <div formArrayName="products">
                  <div class="form-row product-row" [formGroupName]="index"
                                  *ngFor="let productControl of formProducts.controls; let index=index"
                                  [ngClass]="{'p-right-25': formProducts.length > 1}">
                    <div class="col-sm-4">
                      <div class="field-group">
                        <mshk-select-product2
                          [control]="productControl.get('product')"
                          [products]="productsList"
                          [canClearAll]="false"
                          (onSelected)="onProductSelected($event, index)">
                        </mshk-select-product2>
                      </div>
                    </div>
                    <div class="col-sm-2">
                      <mshk-text-input
                        [readonly]="true"
                        [value]="getProductSizeAndVendorCode(productControl.value.product)">
                      </mshk-text-input>
                    </div>
                    <div class="col-sm-2">
                      <mshk-text-input
                        [control]="productControl.get('costPrice')">
                      </mshk-text-input>
                    </div>
                    <div class="col-sm-2">
                      <div class="field-group">
                        <mshk-currency-input2
                          [id]="'unitPrice-' + index"
                          [placeholder]="i18n.products.price.label"
                          [control]="productControl.get('unitPrice')"
                          [errors]="validationErrors">
                        </mshk-currency-input2>
                      </div>
                    </div>
                    <div class="col-sm-2">
                      <div class="field-group">
                        <mshk-text-input
                          [control]="productControl.get('quantity')"
                          [placeholder]="i18n.products.quantity.label"
                          [withDelay]="true"
                          [isLoading]="isNumberValidating$ | async"
                          [errors]="validationErrors"
                          (onChange)="onQuantityChanged(index, $event)">
                        </mshk-text-input>
                        <span class="validation-tip" *ngIf="productControl.hasError('max', ['quantity'])">
                          {{ i18n.products.inStock | translate: {separator: ' '} }} {{ productControl.value.product.quantity }}
                        </span>
                      </div>  
                      <button type="button" class="btn-remove"
                              *ngIf="formProducts.length > 1"
                              [title]="i18n.actions.removeProduct | translate" 
                              (click)="removeProduct(index)">
                        <i class="ico ico-close"></i>
                      </button>
                    </div>
                  </div>
                </div>
                <button class="btn-add" type="button" [title]="i18n.actions.addProduct | translate" (click)="addProduct()">
                  <i class="fa fa-plus fa-border"></i>
                </button>
              </div>
            </div> -->
          </div>
        </div>
      </div>
    </div>

    <!-- right side -->
    <div class="app-page-aside">
      <div class="aside-body">
        <div class="aside-body-inner">
          <div class="row">
            <div class="col-md-12 cost">
              <span class="cost-title">{{ i18n.payment.cost | translate }}:</span>
              <span class="cost-value">
                <mshk-currency-input2
                  [control]="orderForm.get('cost')">
                </mshk-currency-input2>
              </span>
              <span class="cost-payment-type">
                <mshk-list-input
                  [control]="orderForm.get('costMethod')"
                  [options]="costMethodOptions"
                  [placeholder]="i18n.payment.costMethod.placeholder"
                  [errors]="validationErrors">
                </mshk-list-input>
              </span>
            </div>
            <div class="col-md-12 cost">
              <span class="cost-title">{{ i18n.payment.discount | translate }}:</span>
              <span class="cost-value">
                <mshk-text-input
                  [value]="discount"
                  [withDelay]="true"
                  (onChange)="onDiscountChanged($event)">
                </mshk-text-input>
              </span>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 profit">
              <span class="profit-title">{{ i18n.payment.profit | translate }}:</span>
              <span>{{ profit | mshkCurrency }}</span>
            </div>
          </div>
          <div class="row notes-row">
            <div class="col-md-12">
              <mshk-textarea-input
                class="notes"
                [label]="i18n.payment.notes"
                [control]="orderForm.get('notes')">
              </mshk-textarea-input>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="field-group">
                <mshk-checkbox2
                  [control]="orderForm.get('isWholesale')"
                  [label]="i18n.payment.wholesaleOrder">
                </mshk-checkbox2>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="footer">
    <div class="footer-buttons">
      <button type="button" class="btn btn-light" [routerLink]="['/orders']" [disabled]="isSaving">
        {{ i18n.actions.cancel | translate }}
      </button>
      <button type="submit" class="btn btn-primary with-spinner" [disabled]="isSaving">
        <div *ngIf="isSaving" class="btn-spinner"></div>
        {{ i18n.actions.save | translate }}
      </button>
    </div>
  </div>
</form>

<ng-template #customerTmpl let-r="result" let-t="term">
  <ngb-highlight [result]="r.nameWithPhone" [term]="t"></ngb-highlight>
</ng-template>
