<div class="modal-header">
  <h4 class="modal-title">{{ dialogData.title | translate }}</h4>
  <button type="button" class="close" aria-label="Close" (click)="cancelAction()">
    <i class="ico ico-close"></i>
  </button>
</div>
<div class="modal-body">
  <div class="section" [innerHtml]="dialogData.message | translate">
  </div>
</div>
<div class="modal-footer">
  <button class="btn btn-sm btn-light" (click)="cancelAction()" [disabled]="isLoading">{{ dialogData.cancelLabel | translate }}</button>
  <button class="btn btn-sm btn-primary with-spinner" (click)="confirmAction()" [disabled]="isLoading">
    <div *ngIf="isLoading" class="btn-spinner"></div>
    {{ dialogData.confirmLabel | translate }}
  </button>
</div>
  