@import "../../../../variables";

.product-form {
  .product-name {
    background-color: $layer3;
    margin: -#{$padding-base} -#{$padding-base} $padding-base;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .form-row {
    position: relative;

    .form-control[readonly] {
      opacity: 1;
      background-color: $white;
    }

    [class^="col-"] {
      margin-bottom: 1rem;
    }
  }
}

.product-row {
  [class^="col-"]:not(:first-child) {
    padding-left: 5px;
  }

  [class^="col-"]:not(:last-child) {
    padding-right: 5px;
  }
}

.code {
  text-transform: uppercase;
}

.is-archival {
  padding-top: 5px;
}

.col-size {
  padding-right: 5px;
  padding-left: 5px;
}

.btn-remove {
  position: absolute;
  right: -7px;
  top: 12px;
  color: $text-muted;
  .ico-close {
    font-size: 1rem;
  }
}
