@import '../../../variables';

.actions-bar {
  height: $actions-bar-height;
  padding: $actions-bar-padding-y $actions-bar-padding-x;
  border-bottom: 1px solid transparent;
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow-x: auto;
  overflow-y: hidden;

  > :not(:first-child) {
    margin-left: 7px;
  }

  > :not(:last-child) {
    margin-right: 7px;
  }
}
