<div class="search-form">
  <input class="form-control rounded-0" data-clear-btn="true"
        maxlength="60"
        [placeholder]="placeholder | translate"
        [ngModel]="searchValue"
        [ngClass]="{'not-valid': isInvalid}"
        (ngModelChange)="onValueChange($event)">
  <span *ngIf="hasClear && !!searchValue" (click)="clear()" class="close-icon" type="reset"></span>
  <!-- <button class="btn btn-search" (click)="valueChanged(searchBox.value)">
    <i class="fa fa-search"></i>
  </button> -->
</div>
