<mshk-datatable-bar
        [title]="'expenses.expenses'"
        [addLink]="'/expenses/new'"
        [addButtonTitle]="'expenses.addExpenses'"
        [total]="total"
        [shown]="shown"
        [hasDateRangeFilter]="true"
        (onSearch)="onSearch($event)"
        (onRangeSelected)="onRangeSelected($event)">

  <mshk-select-category class="categories"
        (onCategorySelected)="onCategorySelected($event)">
  </mshk-select-category>

</mshk-datatable-bar>

<ngx-datatable #datatable
                class="material striped"
                [loadingIndicator]="loadingIndicator"
                [headerHeight]="40"
                [rowHeight]="40"
                [footerHeight]="50"
                [rows]="shownExpenses"
                [columnMode]="'force'"
                [sorts]="sorts"
                [messages]="{ emptyMessage: 'datatable.emptyMessage' | translate }"
                (activate)="onActive($event)">

  <ngx-datatable-column name="createdOn" [sortable]="true" [width]="150" [canAutoResize]="false" [resizeable]="false">
    <ng-template ngx-datatable-header-template let-sort="sortFn">
      <span (click)="sort($event)">{{ 'common.date' | translate }}</span>
    </ng-template>
    <ng-template ngx-datatable-cell-template let-value="value">
      <span [title]="value">{{ value | format }}</span>
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column name="supplierName" [sortable]="true" [resizeable]="false">
    <ng-template ngx-datatable-header-template let-sort="sortFn">
      <span (click)="sort($event)">{{ 'expenses.supplier' | translate }}</span>
    </ng-template>
    <ng-template ngx-datatable-cell-template let-value="value">
      <span [title]="value">{{ value }}</span>
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column name="category" [sortable]="true" [resizeable]="false">
    <ng-template ngx-datatable-header-template let-sort="sortFn">
      <span (click)="sort($event)">{{ 'common.category' | translate }}</span>
    </ng-template>
    <ng-template ngx-datatable-cell-template let-row="row">
      <span [title]="row.getCategoryDescription()">{{ row.getCategoryDescription() }}</span>
    </ng-template>
  </ngx-datatable-column>
  
  <ngx-datatable-column name="purpose" [resizeable]="false">
    <ng-template ngx-datatable-header-template>
      <span>{{ 'expenses.purpose' | translate }}</span>
    </ng-template>
    <ng-template ngx-datatable-cell-template let-value="value">
      <span [title]="value">{{ value }}</span>
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column name="cost" [sortable]="true" [resizeable]="false">
    <ng-template ngx-datatable-header-template let-sort="sortFn">
      <span (click)="sort($event)">{{ 'expenses.cost' | translate }}</span>
    </ng-template>
    <ng-template ngx-datatable-cell-template let-value="value">
      <span [title]="value">{{ value | mshkCurrency }}</span>
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column [width]="80" [canAutoResize]="false" [resizeable]="false">
    <ng-template ngx-datatable-cell-template let-expanded="expanded" let-row="row" let-rowIndex="rowIndex">
      <span class="grid-buttons">
        <a [routerLink]="[row.id]"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
        <a [routerLink]="" (click)="delete(row)"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
      </span>
    </ng-template>
  </ngx-datatable-column>
  
  <ngx-datatable-footer class="p-0">
    <ng-template ngx-datatable-footer-template let-rowCount="rowCount" let-pageSize="pageSize" let-curPage="curPage" class="p-0">
      <mshk-datatable-footer [loadingIndicator]="loadingIndicator"
                            [datatable]="datatable"
                            [total]="total"
                            [currentPage]="curPage"
                            [rowCount]="rowCount"
                            [pageSize]="pageSize">
      </mshk-datatable-footer>
    </ng-template>
  </ngx-datatable-footer>
</ngx-datatable>

<ng-template #confirmRemoveTmpl>
  <mshk-confirmation
            [confirmButtonText]="'button.remove'"
            [plainText]="'expenses.areYouSureToDeleteExpense' | translate: {supplier: expenseToDelete.supplierName, date: (expenseToDelete.createdOn | format)}"
            (onClose)="closeModal()"
            (onConfirm)="confirmDelete()">
  </mshk-confirmation>
</ng-template>
