<div class="list-page">
  <div class="list-page-header">
    <mk-datatable-header
                  [title]="'Поставщики'"
                  [total]="total"
                  [shown]="shown"
                  (onAddItem)="addSupplier()">
    </mk-datatable-header>
  </div>
  <div class="list-page-body">
    <ngx-datatable #datatable
                  class="material fullscreen"
                  [loadingIndicator]="loadingIndicator"
                  [headerHeight]="40"
                  [rowHeight]="40"
                  [rows]="supplierRows"
                  [columnMode]="'force'"
                  [sorts]="sorts"
                  (activate)="onActive($event)"
                  (sort)="onTableSort(supplierRows, $event)">

      <ngx-datatable-column name="name" [sortable]="true">
        <ng-template ngx-datatable-header-template let-sort="sortFn">
          <span (click)="sort($event)">Наименование</span>
        </ng-template>
        <ng-template ngx-datatable-cell-template let-value="value">
          <span [title]="value" class="bold">{{ value }}</span>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="service">
        <ng-template ngx-datatable-header-template>
          <span>Сервис</span>
        </ng-template>
        <ng-template ngx-datatable-cell-template let-value="value">
          <span [title]="value">{{ value }}</span>
        </ng-template>
      </ngx-datatable-column>
      
      <ngx-datatable-column name="address">
        <ng-template ngx-datatable-header-template>
          <span>Адрес</span>
        </ng-template>
        <ng-template ngx-datatable-cell-template let-value="value">
          <span [title]="value">{{ value }}</span>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="email">
        <ng-template ngx-datatable-header-template>
          <span>Эл. почта</span>
        </ng-template>
        <ng-template ngx-datatable-cell-template let-value="value">
          <span [title]="value">{{ value }}</span>
        </ng-template>
      </ngx-datatable-column>
      
      <ngx-datatable-column name="webSite">
        <ng-template ngx-datatable-header-template>
          <span>Сайт</span>
        </ng-template>
        <ng-template ngx-datatable-cell-template let-value="value">
          <span [title]="value"><a [attr.href]="value" target="_blank">{{ value }}</a></span>
        </ng-template>
      </ngx-datatable-column>
      
      <ngx-datatable-column name="suppliesCount" [width]="50">
        <ng-template ngx-datatable-header-template>
          <span>Кол-во<br>поставок</span>
        </ng-template>
        <ng-template ngx-datatable-cell-template let-value="value">
            <span [title]="value">{{ value }}</span>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column [width]="80" [canAutoResize]="false" [resizeable]="false">
        <ng-template ngx-datatable-cell-template let-expanded="expanded" let-row="row" let-rowIndex="rowIndex">
          <span class="buttons">
            <a class="grid-edit edit" [routerLink]="[row.id]"></a>
            <a class="grid-remove" (click)="delete(row.id)"></a>
          </span>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column [width]="70" [canAutoResize]="false" [resizeable]="false">
        <ng-template ngx-datatable-cell-template let-expanded="expanded" let-row="row" let-rowIndex="rowIndex">
          <div class="more" (click)="toggleExpandRow(row, rowIndex)">
            <img src="./assets/images/ic-more.svg" alt="more">
          </div>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-row-detail [rowHeight]="'auto'" #myDetailRow>
        <ng-template let-row="row" let-expanded="expanded" ngx-datatable-row-detail-template>
          <div class="row-details-wrapper">
            <div class="details-column" [style.width.px]="contactsWidth">
              <span class="column-title">Контакты:</span>
              <span class="column-data">
                <span *ngFor="let contactPerson of row.contactPersons">
                  <div class="contact-person">
                    <b>{{ contactPerson.name }}</b><br>
                    <span> {{ contactPerson.phones }}</span><br>
                    <span>{{ !!contactPerson.email ? contactPerson.email : '' }}</span><br>
                  </div>
                </span>
              </span>
            </div>
          </div>
        </ng-template>
      </ngx-datatable-row-detail>
    </ngx-datatable>
  </div>
</div>

<ng-template #confirmRemoveTmpl>
  <mk-confirmation
          [confirmButtonText]="'Удалить'"
          [text]="'Вы уверены, что хотите удалить выбранного поставщика?'"
          (onClose)="closeModal()"
          (onConfirm)="confirmDelete();">
  </mk-confirmation>
</ng-template>
