@import '../../../variables';

.row-details-wrapper {
  display: flex;
  padding: 10px 0 30px;
}

.details-column {
  display: inline-block;
  // padding-right: 8px;
  // padding-left: 8px;
  // text-overflow: ellipsis;
  // overflow: hidden;

  .column-title {
    display: inline-block;
    vertical-align: top;
    min-width: 100px;
    //padding-top: 4px;
    text-transform: uppercase;
    font-weight: bold;

    &.-short {
      min-width: 70px;
    }
  }

  .column-data {
    display: inline-block;
  }

  a {
    vertical-align: super;
  }
}

.contact-person {
  display: inline-block;
  min-width: 200px;

  &-data {
    width: 50px;
    display: inline-block;
  }
}
