<mshk-actions-bar>
  <mshk-actions-bar-primary-area>
    <h4 class="header-title">{{ i18n.title | translate }}</h4>

    <mshk-divider></mshk-divider>

    <button type="button" class="btn btn-light" [routerLink]="['/orders/new']">
      {{ i18n.actions.addOrder | translate }}
    </button>
  </mshk-actions-bar-primary-area>

  <mshk-actions-bar-secondary-area>
    <div class="text-muted total-count" *ngIf="(isLoading$ | async) === false; else loading">
      {{ totalItems$ | async }} {{ i18n.total | translate }}
    </div>
    <ng-template #loading>
      <mshk-spinner class="spinner-border-thin" [isLoading]="true"></mshk-spinner>
    </ng-template>
  
    <mshk-toggle-filter-button
      [hasActiveFilters]="hasActiveFilters$ | async"
      (onToggle)="toggleFilters()">
    </mshk-toggle-filter-button>
  </mshk-actions-bar-secondary-area>
</mshk-actions-bar>

<mshk-filter-bar
  *ngIf="isFiltersShown"
  [searchValue]="searchKey"
  [filtersTmpl]="filtersTmpl"
  (onSearch)="onSearchChanged($event)"
  (onClose)="resetFilters()">
</mshk-filter-bar>

<ng-template #filtersTmpl>
  <mshk-time-frame
    [timeFrame]="timeFrame"
    (onSelected)="onRangeChanged($event)">
  </mshk-time-frame>
</ng-template>
