<header class="header">
  <h4 class="header-title">{{ i18n.title | translate }}</h4>
  
  <div class="v-divider"></div>

  <div class="actions">
    <button class="btn btn-icon" [routerLink]="['/orders/new']">
      <i class="fa fa-plus" [title]="i18n.actions.addOrder | translate"></i>
    </button>
    <button class="btn btn-icon">
      <i class="fa fa-cloud-download" [title]="i18n.actions.exportToCsv | translate" aria-hidden="true"></i>
    </button>
  </div>
  
  <div class="v-divider"></div>

  <mshk-search-form class="search" (onSearch)="onSearchChanged($event)"></mshk-search-form>
  
  <div class="v-divider"></div>

  <mshk-select-timeframes
    class="timeframes"
    (onRangeSelected)="onRangeChanged($event)">
  </mshk-select-timeframes>
  
  <div class="v-divider"></div>

  <span class="text-muted total-count">
    {{ totalItems$ | async }} {{ i18n.total | translate }}
  </span>

  <div class="filter">
    <button class="btn btn-icon btn-filter" [ngClass]="{'has-active-filters': hasActiveFilters$ | async}" (click)="showHideFilterPanel()">
      <i class="fa fa-filter"></i>
    </button>
  </div>
</header>

<mshk-datatable-filter-bar
  *ngIf="isFilterPanel"
  [searchValue]="searchKey"
  [filtersTmpl]="filtersTmpl"
  (onSearch)="onSearchChanged($event)"
  (onClose)="clearFiltersAndHideFilterPanel()">
</mshk-datatable-filter-bar>

<ng-template #filtersTmpl>
  <mshk-time-frame [timeFrame]="timeFrame" (onSelected)="onRangeChanged($event)"></mshk-time-frame>
</ng-template>
