<header class="header">
  <h4 class="header-title">{{ 'orders.orders' | translate }}</h4>
  <div class="header-separator"></div>
  <div class="actions">
    <button class="btn btn-icon" [routerLink]="'/orders/new'">
      <i class="fa fa-plus-square" [title]="'button.addOrder' | translate"></i>
    </button>
    <button class="btn btn-icon">
      <i class="fa fa-download" title="Экспорт в CSV" aria-hidden="true"></i>
    </button>
  </div>
  <div class="header-separator"></div>
  <mshk-select-timeframes class="timeframes" #timeframes
            (onRangeSelected)="onRangeSelected($event)"
            (onClear)="onClearRange()">
  </mshk-select-timeframes>
  <div class="header-separator"></div>
  <mshk-search-form [defaultValue]="filterKey" (onSearch)="onSearch($event)"></mshk-search-form>
  <div class="header-separator"></div>
  <span class="text-muted total-count">
    <span *ngIf="shown !== total; else totalBlock">
      {{ shown }} {{ 'common.outOf' | translate }} {{ total }}
    </span>
    <ng-template #totalBlock>
      {{ total }} {{ 'common.total' | translate }}
    </ng-template>
  </span>
  
</header>

<ngx-datatable #datatable
                  class="material striped"
                  [loadingIndicator]="loadingIndicator"
                  [headerHeight]="40"
                  [rowHeight]="40"
                  [footerHeight]="50"
                  [rows]="shownOrders"
                  [columnMode]="'force'"
                  [sorts]="sorts"
                  [messages]="{ emptyMessage: 'Нет данных для отображения' }"
                  (activate)="onActive($event)">
                
  <ngx-datatable-column name="orderDate" [sortable]="true">
    <ng-template ngx-datatable-header-template let-column="column" let-sort="sortFn">
      <span [innerHtml]="'datatable.orderDate' | translate" (click)="sort($event)"></span>
    </ng-template>
    <ng-template ngx-datatable-cell-template let-value="value">
      <span [title]="value">{{ value | format }}</span>
    </ng-template>
  </ngx-datatable-column>              

  <ngx-datatable-column name="orderNumber" [sortable]="false">
    <ng-template ngx-datatable-header-template let-column="column">
      <span [innerHtml]="'datatable.orderNumber' | translate"></span>
    </ng-template>
    <ng-template ngx-datatable-cell-template let-value="value">
      <span [title]="value">{{ value }}</span>
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column name="productsCount" [sortable]="true">
    <ng-template ngx-datatable-header-template let-column="column" let-sort="sortFn">
      <span [innerHtml]="'datatable.productsCount' | translate" (click)="sort($event)"></span>
    </ng-template>
    <ng-template ngx-datatable-cell-template let-value="value">
      <span [title]="value">{{ value }}</span>
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column name="customerName" [sortable]="true">
    <ng-template ngx-datatable-header-template let-column="column" let-sort="sortFn">
      <span [innerHtml]="'datatable.customerName' | translate" (click)="sort($event)"></span>
    </ng-template>
    <ng-template ngx-datatable-cell-template let-value="value">
      <span [title]="value">{{ value }}</span>
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column name="address" [sortable]="false">
    <ng-template ngx-datatable-header-template let-column="column">
      <span [innerHtml]="'datatable.deliveryAddress' | translate"></span>
    </ng-template>
    <ng-template ngx-datatable-cell-template let-value="value">
      <span [title]="value">{{ value }}</span>
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column [width]="80" [canAutoResize]="false" [resizeable]="false" [sortable]="false">
    <ng-template ngx-datatable-cell-template let-expanded="expanded" let-row="row" let-rowIndex="rowIndex">
      <span class="grid-buttons">
        <a [routerLink]="[row.id]"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
        <a [routerLink]="" (click)="delete(row)"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
      </span>
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-footer class="p-0">
    <ng-template ngx-datatable-footer-template let-rowCount="rowCount" let-pageSize="pageSize" let-curPage="curPage" class="p-0">
      <mshk-datatable-footer [loadingIndicator]="loadingIndicator"
                           [datatable]="datatable"
                           [total]="total"
                           [currentPage]="curPage"
                           [rowCount]="rowCount"
                           [pageSize]="pageSize">
      </mshk-datatable-footer>
    </ng-template>
  </ngx-datatable-footer>

</ngx-datatable>

<ng-template #confirmRemoveTmpl>
  <mshk-confirmation
          [confirmButtonText]="'button.remove'"
          [plainText]="'orders.areYouSureToDeleteOrder' | translate: { orderNumber: orderToDelete.orderNumber, orderDate: orderToDelete.orderDate }"
          (onClose)="closeModal()"
          (onConfirm)="confirmDelete();">
  </mshk-confirmation>
</ng-template>
