<mshk-orders-actions-bar>
</mshk-orders-actions-bar>

<ngx-datatable #datatable
                class="material striped"
                [loadingIndicator]="isLoading$ | async"
                [headerHeight]="40"
                [rowHeight]="40"
                [footerHeight]="50"
                [rows]="orders$ | async"
                [columnMode]="'force'"
                [externalSorting]="true"
                [externalPaging]="true"
                [sorts]="defaultSort"
                [count]="total$ | async"
                [offset]="pageIndex$ | async"
                [limit]="pageLimit"
                [messages]="{ emptyMessage: i18n.emptyMessage | translate }"
                (activate)="onActive($event)"
                (sort)="onSort($event.sorts[0])"
                (page)="onPage($event)">
                
  <ngx-datatable-column name="orderDate" [sortable]="true">
    <ng-template ngx-datatable-header-template let-column="column" let-sort="sortFn">
      <span [innerHtml]="i18n.columns.orderDate | translate" (click)="sort($event)"></span>
    </ng-template>
    <ng-template ngx-datatable-cell-template let-value="value">
      <span [title]="value">{{ value | format }}</span>
    </ng-template>
  </ngx-datatable-column>              

  <ngx-datatable-column name="orderNumber" [sortable]="false">
    <ng-template ngx-datatable-header-template let-column="column">
      <span [innerHtml]="i18n.columns.orderNumber | translate"></span>
    </ng-template>
    <ng-template ngx-datatable-cell-template let-value="value">
      <span [title]="value">{{ value }}</span>
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column name="productsCount" [sortable]="true">
    <ng-template ngx-datatable-header-template let-column="column" let-sort="sortFn">
      <span [innerHtml]="i18n.columns.productsCount | translate" (click)="sort($event)"></span>
    </ng-template>
    <ng-template ngx-datatable-cell-template let-value="value">
      <span [title]="value">{{ value }}</span>
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column name="customerName" [sortable]="true">
    <ng-template ngx-datatable-header-template let-column="column" let-sort="sortFn">
      <span [innerHtml]="i18n.columns.customerName | translate" (click)="sort($event)"></span>
    </ng-template>
    <ng-template ngx-datatable-cell-template let-value="value">
      <span [title]="value">{{ value }}</span>
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column name="address" [sortable]="false">
    <ng-template ngx-datatable-header-template let-column="column">
      <span [innerHtml]="i18n.columns.deliveryAddress | translate"></span>
    </ng-template>
    <ng-template ngx-datatable-cell-template let-value="value">
      <span [title]="value">{{ value }}</span>
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column [width]="80" [canAutoResize]="false" [resizeable]="false" [sortable]="false">
    <ng-template ngx-datatable-cell-template let-expanded="expanded" let-row="row" let-rowIndex="rowIndex">
      <span class="grid-buttons">
        <a [routerLink]="[row.id]"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
        <a [routerLink]="" (click)="delete(row)"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
      </span>
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-footer class="p-0">
    <ng-template ngx-datatable-footer-template let-rowCount="rowCount" let-pageSize="pageSize" let-curPage="curPage" class="p-0">
      <mshk-datatable-footer
        [datatable]="datatable"
        [total]="total$ | async"
        [currentPage]="curPage"
        [rowCount]="rowCount"
        [pageSize]="pageSize">
      </mshk-datatable-footer>
    </ng-template>
  </ngx-datatable-footer>

</ngx-datatable>
