@import '../../variables';

:host {
  display: block;
  padding: $padding-base $padding-base 0;
}

.actions {
  //display: flex;
  align-items: center;
  // > :not(:first-child) {
  //   margin-left: $padding-base;
  // }
  // > :not(:last-child) {
  //   margin-right: $padding-base;
  // }
}
