@import '../../variables';

:host {
  display: block;
  padding: $padding-base $padding-base 0;
}

.actions {
  //display: flex;
  align-items: center;
  // > :not(:first-child) {
  //   margin-left: $padding-base;
  // }
  // > :not(:last-child) {
  //   margin-right: $padding-base;
  // }
}

.btn-set {
  flex: auto;
  text-align: right;
  white-space: nowrap;
  padding: 8px 26px;
  display: flex;
  align-items: center;
  > :not(:first-child) {
    margin-left: $padding-base;
  }
  > :not(:last-child) {
    margin-right: $padding-base;
  }
}

.header {
  align-items: stretch;
  background-color: $layer1;
  min-height: 45px;
  margin: -16px -16px 16px;
  padding-left: 16px;
  display: flex;
  align-items: center;

  &-title {
    display: flex;
    align-items: center;
    min-height: 48px;

    font-size: 1.8rem;
    font-weight: 700;
    line-height: 2.1rem;
    margin-bottom: 0;
    margin-right: 10px;
  }
  
  &-separator:after {
    content: "|";
    padding-left: 7px;
    padding-right: 7px;
    font-size: 1.3rem;
  }

}

.btn-icon:not(:last-child) {
  margin-right: 15px;
}

.timeframes {
  width: 250px;
}

.filter {
  font-size: 18px;
  position: absolute;
  right: 20px;
}
